In [ ]:
!pip install pymupdf

Collecting pymupdf
  Downloading PyMuPDF-1.23.22-cp310-none-manylinux2014_x86_64.whl (4.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.4/4.4 MB 49.0 MB/s eta 0:00:00
Collecting PyMuPDFb==1.23.22 (from pymupdf)
  Downloading PyMuPDFb-1.23.22-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (30.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 30.6/30.6 MB 40.8 MB/s eta 0:00:00
Installing collected packages: PyMuPDFb, pymupdf
Successfully installed PyMuPDFb-1.23.22 pymupdf-1.23.22

In [ ]:
! pip install pytesseract

Collecting pytesseract
  Downloading pytesseract-0.3.10-py3-none-any.whl (14 kB)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (23.2)
Requirement already satisfied: Pillow>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (9.4.0)
Installing collected packages: pytesseract
Successfully installed pytesseract-0.3.10

In [ ]:
!apt-get install tesseract-ocr

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  tesseract-ocr-eng tesseract-ocr-osd
The following NEW packages will be installed:
  tesseract-ocr tesseract-ocr-eng tesseract-ocr-osd
0 upgraded, 3 newly installed, 0 to remove and 32 not upgraded.
Need to get 4,816 kB of archives.
After this operation, 15.6 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 tesseract-ocr-eng all 1:4.00~git30-7274cfa-1.1 [1,591 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/universe amd64 tesseract-ocr-osd all 1:4.00~git30-7274cfa-1.1 [2,990 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/universe amd64 tesseract-ocr amd64 4.1.1-2.1build1 [236 kB]
Fetched 4,816 kB in 0s (25.1 MB/s)
Selecting previously unselected package tesseract-ocr-eng.
(Reading database ... 121749 files and directories currently installed.)
Preparing to unpack .../tesseract-ocr-eng_1%3a4.00~git30-7274cfa-1.1_all.deb ...
Unpacking tesseract-ocr-eng (1:4.00~git30-7274cfa-1.1) ...
Selecting previously unselected package tesseract-ocr-osd.
Preparing to unpack .../tesseract-ocr-osd_1%3a4.00~git30-7274cfa-1.1_all.deb ...
Unpacking tesseract-ocr-osd (1:4.00~git30-7274cfa-1.1) ...
Selecting previously unselected package tesseract-ocr.
Preparing to unpack .../tesseract-ocr_4.1.1-2.1build1_amd64.deb ...
Unpacking tesseract-ocr (4.1.1-2.1build1) ...
Setting up tesseract-ocr-eng (1:4.00~git30-7274cfa-1.1) ...
Setting up tesseract-ocr-osd (1:4.00~git30-7274cfa-1.1) ...
Setting up tesseract-ocr (4.1.1-2.1build1) ...
Processing triggers for man-db (2.10.2-1) ...

In [ ]:
!apt-get install tesseract-ocr
!apt-get install tesseract-ocr-sin

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
tesseract-ocr is already the newest version (4.1.1-2.1build1).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  tesseract-ocr-sin
0 upgraded, 1 newly installed, 0 to remove and 32 not upgraded.
Need to get 1,085 kB of archives.
After this operation, 1,742 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 tesseract-ocr-sin all 1:4.00~git30-7274cfa-1.1 [1,085 kB]
Fetched 1,085 kB in 0s (8,863 kB/s)
Selecting previously unselected package tesseract-ocr-sin.
(Reading database ... 121796 files and directories currently installed.)
Preparing to unpack .../tesseract-ocr-sin_1%3a4.00~git30-7274cfa-1.1_all.deb ...
Unpacking tesseract-ocr-sin (1:4.00~git30-7274cfa-1.1) ...
Setting up tesseract-ocr-sin (1:4.00~git30-7274cfa-1.1) ...

In [ ]:
!apt-get install tesseract-ocr-eng

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
tesseract-ocr-eng is already the newest version (1:4.00~git30-7274cfa-1.1).
tesseract-ocr-eng set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.

In [ ]:
!pip install Pillow

Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (9.4.0)

In [ ]:
! pip install pdf2image

Collecting pdf2image
  Downloading pdf2image-1.17.0-py3-none-any.whl (11 kB)
Requirement already satisfied: pillow in /usr/local/lib/python3.10/dist-packages (from pdf2image) (9.4.0)
Installing collected packages: pdf2image
Successfully installed pdf2image-1.17.0

In [ ]:
!apt-get install -y poppler-utils

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following NEW packages will be installed:
  poppler-utils
0 upgraded, 1 newly installed, 0 to remove and 32 not upgraded.
Need to get 186 kB of archives.
After this operation, 696 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 poppler-utils amd64 22.02.0-2ubuntu0.3 [186 kB]
Fetched 186 kB in 0s (1,843 kB/s)
Selecting previously unselected package poppler-utils.
(Reading database ... 121800 files and directories currently installed.)
Preparing to unpack .../poppler-utils_22.02.0-2ubuntu0.3_amd64.deb ...
Unpacking poppler-utils (22.02.0-2ubuntu0.3) ...
Setting up poppler-utils (22.02.0-2ubuntu0.3) ...
Processing triggers for man-db (2.10.2-1) ...

In [ ]:
! pip install pymupdf

Requirement already satisfied: pymupdf in /usr/local/lib/python3.10/dist-packages (1.23.22)
Requirement already satisfied: PyMuPDFb==1.23.22 in /usr/local/lib/python3.10/dist-packages (from pymupdf) (1.23.22)

In [ ]:
!pip install PyPDF2

Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 232.6/232.6 kB 6.2 MB/s eta 0:00:00
Installing collected packages: PyPDF2
Successfully installed PyPDF2-3.0.1

In [ ]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.9.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 71.5 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.23.5)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2023.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: tabula-py
Successfully installed tabula-py-2.9.0

In [ ]:
!apt-get install -y tesseract-ocr
!pip install pytesseract

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
tesseract-ocr is already the newest version (4.1.1-2.1build1).
0 upgraded, 0 newly installed, 0 to remove and 32 not upgraded.
Requirement already satisfied: pytesseract in /usr/local/lib/python3.10/dist-packages (0.3.10)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (23.2)
Requirement already satisfied: Pillow>=8.0.0 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (9.4.0)

In [ ]:
!pip install pymupdf pytesseract Pillow

Requirement already satisfied: pymupdf in /usr/local/lib/python3.10/dist-packages (1.23.22)
Requirement already satisfied: pytesseract in /usr/local/lib/python3.10/dist-packages (0.3.10)
Requirement already satisfied: Pillow in /usr/local/lib/python3.10/dist-packages (9.4.0)
Requirement already satisfied: PyMuPDFb==1.23.22 in /usr/local/lib/python3.10/dist-packages (from pymupdf) (1.23.22)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from pytesseract) (23.2)

In [ ]:
import pytesseract
pytesseract.pytesseract.tesseract_cmd = '/usr/bin/tesseract'

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from PIL import Image
import pytesseract
import fitz
import re

def extract_text(image):
    custom_config = r'--oem 3 --psm 6 -l eng+sin'
    extracted_text = pytesseract.image_to_string(image, config=custom_config)
    extracted_text = re.sub(r'[^a-zA-Z0-9\s\u0D80-\u0DFF.*!&$?අආඇඈඉ	ඊඋඌඍඎඐඑඒඓඔඕඖකඛගඝඞඟචඡජඣඤඥඦටඨඩඪණඬතථදධනඳපඵබභමඹයලවශෂසහළෆ්ාැෑිීුූෘෙේොෝ	ෞෟ]', '', extracted_text)
    return extracted_text

def preprocess_image(image):
    new_width = 15000
    new_height = int((new_width / image.width) * image.height)
    image = image.resize((new_width, new_height), Image.ANTIALIAS)
    return image

pdf_path = "/content/drive/MyDrive/1/Yat_2014_05.pdf"

def extract_text_from_pdf(pdf_path):
    doc = fitz.open(pdf_path)
    formatted_text_list = []

    for page_number in range(doc.page_count):
        page = doc[page_number]
        image = page.get_pixmap()


        image = preprocess_image(Image.frombytes("RGB", [image.width, image.height], image.samples))

        extracted_text = extract_text(image)
        formatted_text_list.append(extracted_text)

    return formatted_text_list

formatted_text_list = extract_text_from_pdf(pdf_path)

data = {'Page Number': [], 'Text': []}

for page_number, text in enumerate(formatted_text_list):
    lines = text.splitlines()
    non_blank_lines = [line for line in lines if line.strip() != '']
    data['Page Number'].extend([page_number + 1] * len(non_blank_lines))
    data['Text'].extend(non_blank_lines)

df = pd.DataFrame(data)
print(df)

<ipython-input-16-c4e2c7c6597c>:15: DeprecationWarning: ANTIALIAS is deprecated and will be removed in Pillow 10 (2023-07-01). Use LANCZOS or Resampling.LANCZOS instead.
  image = image.resize((new_width, new_height), Image.ANTIALIAS)

      Page Number                                               Text
0               1  2014 5308 Bem ඡන්දහිමී නාමලේඛනය යටිනුවර ප්රංදේ...
1               1                                          ඡ.කො. අ 5
2               1                         මැනිවරණ කොට්ඨාශය 4  මහනුවර
3               1                            ඡන්ද ප්රදේශය ඒ  යටිනුවර
4               1                                     ඡන්ද කොට්ඨාශය
...           ...                                                ...
1343           26  11 16858 ඕවල හේනේ ගෙදර සමන් කරුනංාසේන 68148403...
1344           26  ඕවල හේනේ ගෙදර නලින් චින්නක කරුණසේන 9006220! 8 ...
1345           26           ශ්රි වික්රමනිලක අනොමා ජයවීර ree සෲ 1ත386
1346           26                   ඕවල හේනේ ගෙදර රාකිරී 34 ප්ර 1139
1347           26                                 මූලුූ නම් ගණන 1139

[1348 rows x 2 columns]

In [ ]:
df.head(950)

     Page Number                                               Text
0              1  2014 O8a sew SafeHE moo Gdns බදුල්ල ප්රාදේශීය ...
1              1                                          ඡ.කො.ඇඅ1!
2              1                         මැතිවරණ කොට්ඨාශය 19 බදුල්ල
3              1                              ඡන්ද ප්රදේශය ඈ බදුල්ල
4              1                                    ඡන්ද කොට්ඨාශය 1
..           ...                                                ...
945           19  11 177 හෙට්ටි චන්නකු රාජපක්ෂ මුදියන්සේලාගේ සිර...
946           19  රාජපක්ෂ මුදියන්සේලාගේ විමලාවනී මැණිකේ 59852305...
947           19  11 1771 ආරියවංශ රණසිංහ ආරච්චිගේ ප්රේමාවතී 5061...
948           19  මද්දුදගේ දොන් ජනක චන්දන නිශාන්ත කුමාර 74242298...
949           19              රූවනි ලක්මාලි ජයසිංහ 865062001V o 869

[950 rows x 2 columns]

In [ ]:
df1 = df

In [ ]:
df1 = pd.DataFrame(data)
division_value = df1.loc[2, 'Text'].split()[3]
df1['Electoral District'] = division_value
print(df1)

      Page Number                                               Text  \
0               1  2014 5308 Bem ඡන්දහිමී නාමලේඛනය යටිනුවර ප්රංදේ...
1               1                                          ඡ.කො. අ 5
2               1                         මැනිවරණ කොට්ඨාශය 4  මහනුවර
3               1                            ඡන්ද ප්රදේශය ඒ  යටිනුවර
4               1                                     ඡන්ද කොට්ඨාශය
...           ...                                                ...
1343           26  11 16858 ඕවල හේනේ ගෙදර සමන් කරුනංාසේන 68148403...
1344           26  ඕවල හේනේ ගෙදර නලින් චින්නක කරුණසේන 9006220! 8 ...
1345           26           ශ්රි වික්රමනිලක අනොමා ජයවීර ree සෲ 1ත386
1346           26                   ඕවල හේනේ ගෙදර රාකිරී 34 ප්ර 1139
1347           26                                 මූලුූ නම් ගණන 1139

     Electoral District
0                මහනුවර
1                මහනුවර
2                මහනුවර
3                මහනුවර
4                මහනුවර
...                 ...
1343             මහනුවර
1344             මහනුවර
1345             මහනුවර
1346             මහනුවර
1347             මහනුවර

[1348 rows x 3 columns]

In [ ]:
df1.head(5)

,Page Number,Text,Electoral District
0,1,2014 5308 Bem ඡන්දහිමී නාමලේඛනය යටිනුවර ප්රංදේ...,මහනුවර
1,1,ඡ.කො. අ 5,මහනුවර
2,1,මැනිවරණ කොට්ඨාශය 4 මහනුවර,මහනුවර
3,1,ඡන්ද ප්රදේශය ඒ යටිනුවර,මහනුවර
4,1,ඡන්ද කොට්ඨාශය,මහනුවර

In [ ]:

polling_division_value = df1.loc[3, 'Text'].split()[3]
df1['Electoral Division'] = polling_division_value
print(df1)

      Page Number                                               Text  \
0               1  2014 5308 Bem ඡන්දහිමී නාමලේඛනය යටිනුවර ප්රංදේ...
1               1                                          ඡ.කො. අ 5
2               1                         මැනිවරණ කොට්ඨාශය 4  මහනුවර
3               1                            ඡන්ද ප්රදේශය ඒ  යටිනුවර
4               1                                     ඡන්ද කොට්ඨාශය
...           ...                                                ...
1343           26  11 16858 ඕවල හේනේ ගෙදර සමන් කරුනංාසේන 68148403...
1344           26  ඕවල හේනේ ගෙදර නලින් චින්නක කරුණසේන 9006220! 8 ...
1345           26           ශ්රි වික්රමනිලක අනොමා ජයවීර ree සෲ 1ත386
1346           26                   ඕවල හේනේ ගෙදර රාකිරී 34 ප්ර 1139
1347           26                                 මූලුූ නම් ගණන 1139

     Electoral District Electoral Division
0                මහනුවර            යටිනුවර
1                මහනුවර            යටිනුවර
2                මහනුවර            යටිනුවර
3                මහනුවර            යටිනුවර
4                මහනුවර            යටිනුවර
...                 ...                ...
1343             මහනුවර            යටිනුවර
1344             මහනුවර            යටිනුවර
1345             මහනුවර            යටිනුවර
1346             මහනුවර            යටිනුවර
1347             මහනුවර            යටිනුවර

[1348 rows x 4 columns]

In [ ]:
import pandas as pd

fifth_row = df1.iloc[5]

words = fifth_row['Text'].split()

selected_words = words[:-4]

reversed_string = ' '.join(selected_words)

df1['Divisional Secretariat'] = reversed_string

print(df1)

      Page Number                                               Text  \
0               1  2014 5308 Bem ඡන්දහිමී නාමලේඛනය යටිනුවර ප්රංදේ...
1               1                                          ඡ.කො. අ 5
2               1                         මැනිවරණ කොට්ඨාශය 4  මහනුවර
3               1                            ඡන්ද ප්රදේශය ඒ  යටිනුවර
4               1                                     ඡන්ද කොට්ඨාශය
...           ...                                                ...
1343           26  11 16858 ඕවල හේනේ ගෙදර සමන් කරුනංාසේන 68148403...
1344           26  ඕවල හේනේ ගෙදර නලින් චින්නක කරුණසේන 9006220! 8 ...
1345           26           ශ්රි වික්රමනිලක අනොමා ජයවීර ree සෲ 1ත386
1346           26                   ඕවල හේනේ ගෙදර රාකිරී 34 ප්ර 1139
1347           26                                 මූලුූ නම් ගණන 1139

     Electoral District Electoral Division Divisional Secretariat
0                මහනුවර            යටිනුවර                යටිනුවර
1                මහනුවර            යටිනුවර                යටිනුවර
2                මහනුවර            යටිනුවර                යටිනුවර
3                මහනුවර            යටිනුවර                යටිනුවර
4                මහනුවර            යටිනුවර                යටිනුවර
...                 ...                ...                    ...
1343             මහනුවර            යටිනුවර                යටිනුවර
1344             මහනුවර            යටිනුවර                යටිනුවර
1345             මහනුවර            යටිනුවර                යටිනුවර
1346             මහනුවර            යටිනුවර                යටිනුවර
1347             මහනුවර            යටිනුවර                යටිනුවර

[1348 rows x 5 columns]

In [ ]:

grama_division_value = df1.loc[6, 'Text'].split()[2]
df1['Grama Niladari Division'] = grama_division_value
print(df1)

      Page Number                                               Text  \
0               1  2014 5308 Bem ඡන්දහිමී නාමලේඛනය යටිනුවර ප්රංදේ...
1               1                                          ඡ.කො. අ 5
2               1                         මැනිවරණ කොට්ඨාශය 4  මහනුවර
3               1                            ඡන්ද ප්රදේශය ඒ  යටිනුවර
4               1                                     ඡන්ද කොට්ඨාශය
...           ...                                                ...
1343           26  11 16858 ඕවල හේනේ ගෙදර සමන් කරුනංාසේන 68148403...
1344           26  ඕවල හේනේ ගෙදර නලින් චින්නක කරුණසේන 9006220! 8 ...
1345           26           ශ්රි වික්රමනිලක අනොමා ජයවීර ree සෲ 1ත386
1346           26                   ඕවල හේනේ ගෙදර රාකිරී 34 ප්ර 1139
1347           26                                 මූලුූ නම් ගණන 1139

     Electoral District Electoral Division Divisional Secretariat  \
0                මහනුවර            යටිනුවර                යටිනුවර
1                මහනුවර            යටිනුවර                යටිනුවර
2                මහනුවර            යටිනුවර                යටිනුවර
3                මහනුවර            යටිනුවර                යටිනුවර
4                මහනුවර            යටිනුවර                යටිනුවර
...                 ...                ...                    ...
1343             මහනුවර            යටිනුවර                යටිනුවර
1344             මහනුවර            යටිනුවර                යටිනුවර
1345             මහනුවර            යටිනුවර                යටිනුවර
1346             මහනුවර            යටිනුවර                යටිනුවර
1347             මහනුවර            යටිනුවර                යටිනුවර

     Grama Niladari Division
0               කිරිබන්කුඹුර
1               කිරිබන්කුඹුර
2               කිරිබන්කුඹුර
3               කිරිබන්කුඹුර
4               කිරිබන්කුඹුර
...                      ...
1343            කිරිබන්කුඹුර
1344            කිරිබන්කුඹුර
1345            කිරිබන්කුඹුර
1346            කිරිබන්කුඹුර
1347            කිරිබන්කුඹුර

[1348 rows x 6 columns]

In [ ]:
import pandas as pd

lines_to_consider = 10
index_of_row_ending_with_1 = df1.iloc[lines_to_consider:][df1['Text'].str.endswith('1')].index

if not index_of_row_ending_with_1.empty:
    index_of_row_ending_with_1 = index_of_row_ending_with_1[0]

    df1 = pd.concat([df1.iloc[index_of_row_ending_with_1:], df1.iloc[:index_of_row_ending_with_1]])

    df1.reset_index(drop=True, inplace=True)

    print(df1)
else:
    print("No row ending with '1' found in the lines after the 8th row.")

      Page Number                                               Text  \
0               1            3 ලෑ තැ 6 PN OSI ONC WYANIDO  SON oh 31
1               1  11 73 අලහකොන් මුදියන්සේලාගේ රේණුකා පද්මිණි 600...
2               1                                           අලහංකොන්
3               1  11 731 අලහකෝන් මුදියන්සේලාගේ චමින්ද රෝහණ ප්රසා...
4               1                                           අලහංකොන්
...           ...                                                ...
1343            1                                        කෙහෙල්වල ගම
1344            1                                             ඕවල ගම
1345            1  2014  මෑ.කෙ Soh  en 2  $.5.   iD 2   ලා*5ෆු 25...
1346            1       ගහෙ අංකය Save දායකයාගේ නම ඡා.හෑ.ඇඅංකය ගැපි අ
1347            1                                               අංකය

     Electoral District Electoral Division Divisional Secretariat  \
0                මහනුවර            යටිනුවර                යටිනුවර
1                මහනුවර            යටිනුවර                යටිනුවර
2                මහනුවර            යටිනුවර                යටිනුවර
3                මහනුවර            යටිනුවර                යටිනුවර
4                මහනුවර            යටිනුවර                යටිනුවර
...                 ...                ...                    ...
1343             මහනුවර            යටිනුවර                යටිනුවර
1344             මහනුවර            යටිනුවර                යටිනුවර
1345             මහනුවර            යටිනුවර                යටිනුවර
1346             මහනුවර            යටිනුවර                යටිනුවර
1347             මහනුවර            යටිනුවර                යටිනුවර

     Grama Niladari Division
0               කිරිබන්කුඹුර
1               කිරිබන්කුඹුර
2               කිරිබන්කුඹුර
3               කිරිබන්කුඹුර
4               කිරිබන්කුඹුර
...                      ...
1343            කිරිබන්කුඹුර
1344            කිරිබන්කුඹුර
1345            කිරිබන්කුඹුර
1346            කිරිබන්කුඹුර
1347            කිරිබන්කුඹුර

[1348 rows x 6 columns]

<ipython-input-23-b95b8eeee499>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  index_of_row_ending_with_1 = df1.iloc[lines_to_consider:][df1['Text'].str.endswith('1')].index

In [ ]:
df3=df1

In [ ]:
df2=df1

In [ ]:
df3.head(50)

,Page Number,Text,Electoral District,Electoral Division,Divisional Secretariat,Grama Niladari Division
0,1,1 1 විජේසිංහ මුදියන්සේලාගේ ලීලාවතී 396630842V o 1,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
1,1,11 11 දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිං...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
2,1,දුනූකාර මුදියන්සේලාගේ ජයරත්න 670374941V & 3,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
3,1,දොඹගහ පතිරණගේ චඑන්දා පිරිස් 695421290V o,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
4,1,11 114 නංගහවන්න මුදියන්සේලාගේ අමරදාස 552701666...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
5,1,නංගහවන්තේ මුදියන්සේලාගේ හසිනං දානංජනී 90525009...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
6,1,ජයසුන්දර මුදියන්සේලාගේ කුසුමාවතී 596692 17 ගැ 7,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
7,1,නංගහවන්තන මුදියන්සේලාගේ නන්දන කුමාර 861991032V...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
8,1,නංගහවන්තේ මුදියන්සේලාගේ ඉරේෂා දනන්දනි 92764135...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
9,1,11 2 කොච්චිගොඩ කංකානම්ගේ සාලියචවතී 616383 167V...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
10,1,කොච්චිගොඩ කංකානම්ගේ සුමිත්රා කල්යාණවතී 6358414...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
11,1,කොච්චිගොඩ කංකානම්ගේ සන්ධ්යා රංජනී 656802812V o 12,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
12,1,1 3 දිසානායක මුදියන්සේලාගේ සිලචතී SIS5311998V ...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
13,1,දිසානායක මුදියන්සේලාගේ ප්රේමදාස 532900603V ප 14,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
14,1,111 04 දිසානායක මුදියන්සේලාගේ චන්ද්රදාස 680494...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
15,1,පේදුරු හේවගේ නන්දා ද සිල්වා 6077161353 ගැ 16,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
16,1,දිසානායක මුදියන්සේලාගේ තිලිණ ලක්මාල් 912320197...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
17,1,11 41 මැණික් හෙට්ටි ආරච්චිලාගේ ලසන්ති නිරූෂිකා...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
18,1,ij 5 එදිරිසිංහ මුදියන්සේලාගේ රෝහිත එදිරිසිංහ 6...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
19,1,වෙළද භහේවාගේ ලක්ෂමී ප්රනාන්දු 0056 12910! ගැ 20,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
20,1,111 51 අත්තනායක මුදියන්සේලාගේ නිශාන්ත 79015479...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
21,1,රත්නායක මුදියන්සේලාගේ චජිරා මංගලිකා 795780181 ...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
22,1,1 6 රත්නා වෙද ආරච්චිගේ විමලාවතී 347770728V o 23,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
23,1,රත්නායක මුදියන්සේලාගේ සුමිත්රා 536411321V ගැ 24,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
24,1,11 071 නංනායක්කාර වසංගොඩ ලියනගේ යසපාල ධර්මසේන ...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
25,1,නානායක්කාර වසම් ගොඩේ ලියනගේ දිනුෂ්කා මධුරංගනි ...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
26,1,නානායක්කාර වසංගොඬේ ලියනගේ අමිල ප්රියදර්ශන 9107...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
27,1,කුරුකුලසූරිය පටබැඳිගේ සිරියාවතී 5878800&3 ගැ 28,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
28,1,නානායක්කාර වසංගොඩ ලියනගේ අනුෂ්කා ප්රියදර්ශණී 8...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
29,1,21 71 නානායක්කාර වසංගොඩ ලියනගේ නන්දූපාල 611903...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
30,1,නංනායක්කාර වසංගොඩ ලියනගේ නිසංක ප්රබුදූධ 91991 ...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
31,1,ගොඩමඩිනත්නේ ගෙදර ඩිංගිරිමැණිකා 618343340V oj 32,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
32,1,නානායක්කාර වසංගොඩ ලියනගේ අනුෂා ප්රියදර්ශුණී 86...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
33,1,නානායක්කාර වසංගොඩ ලියනගේ අසංක ප්රියන්ත 8705606...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
34,1,11 73 නානායක්කාර වසංගොඩ ලියනගේ ජයතිස්ස 6513315...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
35,1,කොච්චිගොඩ කංකානම්ගේ සුමනාවනී 677453087V ගැ 36,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
36,1,1,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
37,2,2014 මැ.කො.අංකය 19 බදුල්ල ඡ.පු. පෘ බදුල්ල ...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
38,2,නි. යාගෞඩ ලෆ ව හම්බාවෙල කොටසක්,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
39,2,11 73 නංනායක්කාංර වසම් ගොඩඬේ ලියනගේ හිමොෂා හංස...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
40,2,1 8 පොඩිනොෝනා හේවාකුරුප්පු 3985309&5 ගැ 38,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
41,2,2 8 හේවා කුරුප්පුගේ චමින්ද නුවන් හේවා කුරුප්පු...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
42,2,කොනහාර මුදියන්සේලාගේ නිශානි ඉමේෂා ජයසුරිය 8657...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
43,2,11 81 දිසානායක මුදියන්සේලාගේ ලසතා නන්දනී 65786...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
44,2,මැණික් හෙට්ටි ආරච්චිලාගේ දිනේෂ් එරන්ද 83364275...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
45,2,මැණික් හෙට්ටි ආරච්චිලාගේ රුමේෂ් ලක්ප්රිය 85263...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
46,2,1 09 කොණාර මුදියන්සේලාගේ අනුලසිරි 633553114V & 44,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
47,2,කොණාර මුදියන්සේලාගේ අශාන් මදුෂංක 852610085V 8 45,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
48,2,දිසානයක මුදියන්සේලාගේ සො මාවතී 64501 1805V oy 46,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ
49,2,3 09 කොණාර මුදියන්සේලාගේ ඉෂාන් චානක 9025801060...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ

In [ ]:
df1['No'] = df1['Text'].str.extract('(\d+)$', expand=False)

df1 = df1[~df1['Text'].str.startswith('2014')]

print(df1)

     Page Number                                               Text  \
0              1  1 1 විජේසිංහ මුදියන්සේලාගේ ලීලාවතී 396630842V o 1
1              1  11 11 දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිං...
2              1        දුනූකාර මුදියන්සේලාගේ ජයරත්න 670374941V & 3
3              1           දොඹගහ පතිරණගේ චඑන්දා පිරිස් 695421290V o
4              1  11 114 නංගහවන්න මුදියන්සේලාගේ අමරදාස 552701666...
..           ...                                                ...
954            1                           නෙළුම්වැවහම්බාවෙල කොටසක්
955            1                                    හම්බාවෙල කොටසක්
957            1      ගෘහ අංකය ඡන්ද දායකයාගේ නම ඡා.හැ.අංකය ගැපි අනු
958            1                                                 කය
959            1    ග්රා.නි.කො. 79 හෑගොඩ  නෙළුම්වැවහම්බාවෙල කොටසක්

    Electoral District Electoral Division Divisional Secretariat  \
0               බදුල්ල             බදුල්ල                 බදුල්ල
1               බදුල්ල             බදුල්ල                 බදුල්ල
2               බදුල්ල             බදුල්ල                 බදුල්ල
3               බදුල්ල             බදුල්ල                 බදුල්ල
4               බදුල්ල             බදුල්ල                 බදුල්ල
..                 ...                ...                    ...
954             බදුල්ල             බදුල්ල                 බදුල්ල
955             බදුල්ල             බදුල්ල                 බදුල්ල
957             බදුල්ල             බදුල්ල                 බදුල්ල
958             බදුල්ල             බදුල්ල                 බදුල්ල
959             බදුල්ල             බදුල්ල                 බදුල්ල

    Grama Niladari Division   No
0                     හෑගොඩ    1
1                     හෑගොඩ    2
2                     හෑගොඩ    3
3                     හෑගොඩ  NaN
4                     හෑගොඩ    9
..                      ...  ...
954                   හෑගොඩ  NaN
955                   හෑගොඩ  NaN
957                   හෑගොඩ  NaN
958                   හෑගොඩ  NaN
959                   හෑගොඩ  NaN

[939 rows x 7 columns]

In [ ]:

df1['Text'] = df1['Text'].str.replace(r'\s*\d+[Vv]?\s*|\s*පි\s*|\s*ගැ\s*$', '', regex=True)

df1['Text'] = np.where(df1['Text'] == '', np.nan, df1['Text'])

print(df1)

     Page Number                                         Text  \
0              1              විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo
1              1    දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ
2              1                දුනූකාර මුදියන්සේලාගේ ජයරත්න&
3              1                    දොඹගහ පතිරණගේ චඑන්දාරිස්o
4              1                නංගහවන්න මුදියන්සේලාගේ අමරදාස
..           ...                                          ...
954            1                     නෙළුම්වැවහම්බාවෙල කොටසක්
955            1                              හම්බාවෙල කොටසක්
957            1   ගෘහ අංකය ඡන්ද දායකයාගේ නම ඡා.හැ.අංකය ගැඅනු
958            1                                           කය
959            1  ග්රා.නි.කො.හෑගොඩ  නෙළුම්වැවහම්බාවෙල කොටසක්

    Electoral District Electoral Division Divisional Secretariat  \
0               බදුල්ල             බදුල්ල                 බදුල්ල
1               බදුල්ල             බදුල්ල                 බදුල්ල
2               බදුල්ල             බදුල්ල                 බදුල්ල
3               බදුල්ල             බදුල්ල                 බදුල්ල
4               බදුල්ල             බදුල්ල                 බදුල්ල
..                 ...                ...                    ...
954             බදුල්ල             බදුල්ල                 බදුල්ල
955             බදුල්ල             බදුල්ල                 බදුල්ල
957             බදුල්ල             බදුල්ල                 බදුල්ල
958             බදුල්ල             බදුල්ල                 බදුල්ල
959             බදුල්ල             බදුල්ල                 බදුල්ල

    Grama Niladari Division   No
0                     හෑගොඩ    1
1                     හෑගොඩ    2
2                     හෑගොඩ    3
3                     හෑගොඩ  NaN
4                     හෑගොඩ    9
..                      ...  ...
954                   හෑගොඩ  NaN
955                   හෑගොඩ  NaN
957                   හෑගොඩ  NaN
958                   හෑගොඩ  NaN
959                   හෑගොඩ  NaN

[939 rows x 7 columns]

<ipython-input-29-30ad7c931c0b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Text'] = df1['Text'].str.replace(r'\s*\d+[Vv]?\s*|\s*පි\s*|\s*ගැ\s*$', '', regex=True)
<ipython-input-29-30ad7c931c0b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Text'] = np.where(df1['Text'] == '', np.nan, df1['Text'])

In [ ]:
df1.head(20)

,Page Number,Text,Electoral District,Electoral Division,Divisional Secretariat,Grama Niladari Division,No
0,1,විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,1
1,1,දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,2
2,1,දුනූකාර මුදියන්සේලාගේ ජයරත්න&,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,3
3,1,දොඹගහ පතිරණගේ චඑන්දාරිස්o,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,NaN
4,1,නංගහවන්න මුදියන්සේලාගේ අමරදාස,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,9
5,1,නංගහවන්තේ මුදියන්සේලාගේ හසිනං දානංජනීoy,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,6
6,1,ජයසුන්දර මුදියන්සේලාගේ කුසුමාවතීගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,7
7,1,නංගහවන්තන මුදියන්සේලාගේ නන්දන කුමාර&,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,8
8,1,නංගහවන්තේ මුදියන්සේලාගේ ඉරේෂා දනන්දනිගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,9
9,1,කොච්චිගොඩ කංකානම්ගේ සාලියචවතීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,10
10,1,කොච්චිගොඩ කංකානම්ගේ සුමිත්රා කල්යාණවතීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,11
11,1,කොච්චිගොඩ කංකානම්ගේ සන්ධ්යා රංජනීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,12
12,1,දිසානායක මුදියන්සේලාගේ සිලචතී SISo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,13
13,1,දිසානායක මුදියන්සේලාගේ ප්රේමදාසප,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,14
14,1,දිසානායක මුදියන්සේලාගේ චන්ද්රදාසප,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,15
15,1,පේදුරු හේවගේ නන්දා ද සිල්වාගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,16
16,1,දිසානායක මුදියන්සේලාගේ තිලිණ ලක්මාල්,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,17
17,1,මැණික් හෙට්ටි ආරච්චිලාගේ ලසන්ති නිරූෂිකා හෙට්ට...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,18
18,1,ijඑදිරිසිංහ මුදියන්සේලාගේ රෝහිත එදිරිසිංහ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,19
19,1,වෙළද භහේවාගේ ලක්ෂමී ප්රනාන්දු! ගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,20

In [ ]:
df2=df1

In [ ]:

empty_rows = df1[df1['No'].isnull()]

print("Rows with empty 'No' column:")
print(empty_rows)

df1 = df1.dropna(subset=['No'])

print("\nDataFrame after removing rows with empty 'No' column:")
print(df1)

Rows with empty 'No' column:
     Page Number                                               Text  \
3              1                          දොඹගහ පතිරණගේ චඑන්දාරිස්o
38             2                    නි. යාගෞඩ  ලෆ ව හම්බාවෙල කොටසක්
79             2                  හෙට්ටි ආරච්චි ගේ මංජුල ප්රියන්නප?
89             3           ඇ.නි.කො.හෑගොඩ  නෙළුම්වූවහම්බාවෙල කොටසක්.
97             3           රාජකරුණා චාසල මුදියන්සේලාගේ ටිකිරි බංඩාර
100            3        රාජකරුණා චාසල මුදියන්සේලාගේ නිලංග චන්දිමාල්
102            3         රාජකරුණා චාසල මුදියන්සේලාගේ ගූෂින්දු හසරංග
140            4                    නි. යාගෞඩ  ලෆ ව හම්බාවෙල කොටසක්
162            4                                            රාජපක්ෂ
191            5                නි. ෆයෘාගෞඩ  ආ ් ව හම්බාවෙලඌ කොටසක්
242            6                     නි. Qoob  Ge EMM Oshnehre Sms
245            6                                     සිල්වා ගුණසේකර
286            6                                          තෙන්නකොන්
304            7                                          තෙන්නකොන්
345            8                                          තෙන්නකොන්
353            8                                            සමරකෝන්
363            8                                           දිසංනායක
390            8                                                 රි
396            9            මුදියන්සේලාගේ ප්රියංකා ගීතානි සෙනවිරන්න
400            9   අන්ද්රා හැන්නදිගේ ප්රේමලාල් ද සිල්වා බවේ පුත woo
413            9                මුදියන්සේලාගේ තිළිණ සංජීව සෙනවිරත්න
424            9                                            රාජපක්ෂ
447           10                                          මනමේන් දු
464           10                            සෙනරත් වාසලගේ මාලනීeqරි
482           10                                          කරුණානායක
539           11           බස්නායක මුදියන්සේලාගේ නන්දාවතී Sere බිපු
562           12                ජුඩි මයිකල් වර්ණ කුල සුරිය ආන් ප්රද
573           12                                          මල්කාන්ති
585           12                                              හංසනි
598           13              පනියන් දුවගේ විමලාවතී ද සිල්චා Seeමටර
605           13  හෙට්ටි බණ්ඩාර මුදියන්සේලාගේ දිලිණිකා දිල්රුක්ෂ...
606           13                                           හෙන්නායක
618           13                                            රාජපක්ෂ
666           14                                              කුමාර
669           14                                          මල්කාන්ති
684           14                                             බණ්ඩාර
708           15                                            රාජපක්ෂ
714           15                                            රාජපක්ෂ
717           15                                            රාජපක්ෂ
730           15         රත්නායක මුදියන්සේලාගේ පොඩිහාමීනේ ආසම SG ළි
737           15      දිසානායක මුදියන්සේලාගේ විජේරත්න eeeeeseessGED
745           16              රත්නායක මුදියන්සේලාගේ මාග්රට්  oe Soo
895           19                                             බණ්ඩාර
908           19                                           අබේරුවන්
948            1                                           ඡ.කො.ඇඅ!
949            1                             මැතිවරණ කොට්ඨාශයබදුල්ල
950            1                              ඡන්ද ප්රදේශය ඈ බදුල්ල
952            1              බදුල්ල ප්රාදේශිය ලේකම් කොට්ඨාගයට අයත්
953            1                                   ග්රා.නි.කො.හෑගොඩ
954            1                           නෙළුම්වැවහම්බාවෙල කොටසක්
955            1                                    හම්බාවෙල කොටසක්
957            1         ගෘහ අංකය ඡන්ද දායකයාගේ නම ඡා.හැ.අංකය ගැඅනු
958            1                                                 කය
959            1        ග්රා.නි.කො.හෑගොඩ  නෙළුම්වැවහම්බාවෙල කොටසක්

    Electoral District Electoral Division Divisional Secretariat  \
3               බදුල්ල             බදුල්ල                 බදුල්ල
38              බදුල්ල             බදුල්ල                 බදුල්ල
79              බදුල්ල             බදුල්ල                 බදුල්ල
89              බදුල්ල             බදුල්ල                 බදුල්ල
97              බදුල්ල             බදුල්ල                 බදුල්ල
100             බදුල්ල             බදුල්ල                 බදුල්ල
102             බදුල්ල             බදුල්ල                 බදුල්ල
140             බදුල්ල             බදුල්ල                 බදුල්ල
162             බදුල්ල             බදුල්ල                 බදුල්ල
191             බදුල්ල             බදුල්ල                 බදුල්ල
242             බදුල්ල             බදුල්ල                 බදුල්ල
245             බදුල්ල             බදුල්ල                 බදුල්ල
286             බදුල්ල             බදුල්ල                 බදුල්ල
304             බදුල්ල             බදුල්ල                 බදුල්ල
345             බදුල්ල             බදුල්ල                 බදුල්ල
353             බදුල්ල             බදුල්ල                 බදුල්ල
363             බදුල්ල             බදුල්ල                 බදුල්ල
390             බදුල්ල             බදුල්ල                 බදුල්ල
396             බදුල්ල             බදුල්ල                 බදුල්ල
400             බදුල්ල             බදුල්ල                 බදුල්ල
413             බදුල්ල             බදුල්ල                 බදුල්ල
424             බදුල්ල             බදුල්ල                 බදුල්ල
447             බදුල්ල             බදුල්ල                 බදුල්ල
464             බදුල්ල             බදුල්ල                 බදුල්ල
482             බදුල්ල             බදුල්ල                 බදුල්ල
539             බදුල්ල             බදුල්ල                 බදුල්ල
562             බදුල්ල             බදුල්ල                 බදුල්ල
573             බදුල්ල             බදුල්ල                 බදුල්ල
585             බදුල්ල             බදුල්ල                 බදුල්ල
598             බදුල්ල             බදුල්ල                 බදුල්ල
605             බදුල්ල             බදුල්ල                 බදුල්ල
606             බදුල්ල             බදුල්ල                 බදුල්ල
618             බදුල්ල             බදුල්ල                 බදුල්ල
666             බදුල්ල             බදුල්ල                 බදුල්ල
669             බදුල්ල             බදුල්ල                 බදුල්ල
684             බදුල්ල             බදුල්ල                 බදුල්ල
708             බදුල්ල             බදුල්ල                 බදුල්ල
714             බදුල්ල             බදුල්ල                 බදුල්ල
717             බදුල්ල             බදුල්ල                 බදුල්ල
730             බදුල්ල             බදුල්ල                 බදුල්ල
737             බදුල්ල             බදුල්ල                 බදුල්ල
745             බදුල්ල             බදුල්ල                 බදුල්ල
895             බදුල්ල             බදුල්ල                 බදුල්ල
908             බදුල්ල             බදුල්ල                 බදුල්ල
948             බදුල්ල             බදුල්ල                 බදුල්ල
949             බදුල්ල             බදුල්ල                 බදුල්ල
950             බදුල්ල             බදුල්ල                 බදුල්ල
952             බදුල්ල             බදුල්ල                 බදුල්ල
953             බදුල්ල             බදුල්ල                 බදුල්ල
954             බදුල්ල             බදුල්ල                 බදුල්ල
955             බදුල්ල             බදුල්ල                 බදුල්ල
957             බදුල්ල             බදුල්ල                 බදුල්ල
958             බදුල්ල             බදුල්ල                 බදුල්ල
959             බදුල්ල             බදුල්ල                 බදුල්ල

    Grama Niladari Division   No
3                     හෑගොඩ  NaN
38                    හෑගොඩ  NaN
79                    හෑගොඩ  NaN
89                    හෑගොඩ  NaN
97                    හෑගොඩ  NaN
100                   හෑගොඩ  NaN
102                   හෑගොඩ  NaN
140                   හෑගොඩ  NaN
162                   හෑගොඩ  NaN
191                   හෑගොඩ  NaN
242                   හෑගොඩ  NaN
245                   හෑගොඩ  NaN
286                   හෑගොඩ  NaN
304                   හෑගොඩ  NaN
345                   හෑගොඩ  NaN
353                   හෑගොඩ  NaN
363                   හෑගොඩ  NaN
390                   හෑගොඩ  NaN
396                   හෑගොඩ  NaN
400                   හෑගොඩ  NaN
413                   හෑගොඩ  NaN
424                   හෑගොඩ  NaN
447                   හෑගොඩ  NaN
464                   හෑගොඩ  NaN
482                   හෑගොඩ  NaN
539                   හෑගොඩ  NaN
562                   හෑගොඩ  NaN
573                   හෑගොඩ  NaN
585                   හෑගොඩ  NaN
598                   හෑගොඩ  NaN
605                   හෑගොඩ  NaN
606                   හෑගොඩ  NaN
618                   හෑගොඩ  NaN
666                   හෑගොඩ  NaN
669                   හෑගොඩ  NaN
684                   හෑගොඩ  NaN
708                   හෑගොඩ  NaN
714                   හෑගොඩ  NaN
717                   හෑගොඩ  NaN
730                   හෑගොඩ  NaN
737                   හෑගොඩ  NaN
745                   හෑගොඩ  NaN
895                   හෑගොඩ  NaN
908                   හෑගොඩ  NaN
948                   හෑගොඩ  NaN
949                   හෑගොඩ  NaN
950                   හෑගොඩ  NaN
952                   හෑගොඩ  NaN
953                   හෑගොඩ  NaN
954                   හෑගොඩ  NaN
955                   හෑගොඩ  NaN
957                   හෑගොඩ  NaN
958                   හෑගොඩ  NaN
959                   හෑගොඩ  NaN

DataFrame after removing rows with empty 'No' column:
     Page Number                                       Text  \
0              1            විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo
1              1  දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ
2              1              දුනූකාර මුදියන්සේලාගේ ජයරත්න&
4              1              නංගහවන්න මුදියන්සේලාගේ අමරදාස
5              1    නංගහවන්තේ මුදියන්සේලාගේ හසිනං දානංජනීoy
..           ...                                        ...
943           20               වීරසිංහ මුදියන්සේලාගේ රංජින්
944           20    භේචානායක මුදියන්සේලාගේ කුසලානි භේවානායක
945           20                                    Be m oz
946           20                                        NaN
951            1                              ඡන්ද කොට්ඨාශය

    Electoral District Electoral Division Divisional Secretariat  \
0               බදුල්ල             බදුල්ල                 බදුල්ල
1               බදුල්ල             බදුල්ල                 බදුල්ල
2               බදුල්ල             බදුල්ල                 බදුල්ල
4               බදුල්ල             බදුල්ල                 බදුල්ල
5               බදුල්ල             බදුල්ල                 බදුල්ල
..                 ...                ...                    ...
943             බදුල්ල             බදුල්ල                 බදුල්ල
944             බදුල්ල             බදුල්ල                 බදුල්ල
945             බදුල්ල             බදුල්ල                 බදුල්ල
946             බදුල්ල             බදුල්ල                 බදුල්ල
951             බදුල්ල             බදුල්ල                 බදුල්ල

    Grama Niladari Division   No
0                     හෑගොඩ    1
1                     හෑගොඩ    2
2                     හෑගොඩ    3
4                     හෑගොඩ    9
5                     හෑගොඩ    6
..                      ...  ...
943                   හෑගොඩ  874
944                   හෑගොඩ  875
945                   හෑගොඩ  875
946                   හෑගොඩ   20
951                   හෑගොඩ    1

[885 rows x 7 columns]

In [ ]:
df1.head(100)

,Page Number,Text,Electoral District,Electoral Division,Divisional Secretariat,Grama Niladari Division,No
0,1,විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,1
1,1,දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,2
2,1,දුනූකාර මුදියන්සේලාගේ ජයරත්න&,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,3
4,1,නංගහවන්න මුදියන්සේලාගේ අමරදාස,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,9
5,1,නංගහවන්තේ මුදියන්සේලාගේ හසිනං දානංජනීoy,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,6
...,...,...,...,...,...,...,...
104,3,විදාන ගමගේයි චන්ද්රාචනිගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,96
105,3,අබේකොන් මුල්ලේගම&,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,97
106,3,දිසානායක මුදියන්සේලාගේ ශ්රියා කාන්ති බණ්ඩාරගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,98
107,3,බන්ද්රවතී මුල්ලේගමගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,99
108,3,දිසානායක මුදියන්සේලාගේ උක්කුමැණිකාoq,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,100

In [ ]:
!pip install PyPDF2 pdfplumber pdf2image langid

Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.10/dist-packages (3.0.1)
Collecting pdfplumber
  Downloading pdfplumber-0.10.3-py3-none-any.whl (48 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.0/49.0 kB 2.0 MB/s eta 0:00:00
Requirement already satisfied: pdf2image in /usr/local/lib/python3.10/dist-packages (1.17.0)
Collecting langid
  Downloading langid-1.1.6.tar.gz (1.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 11.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting pdfminer.six==20221105 (from pdfplumber)
  Downloading pdfminer.six-20221105-py3-none-any.whl (5.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 25.6 MB/s eta 0:00:00
Requirement already satisfied: Pillow>=9.1 in /usr/local/lib/python3.10/dist-packages (from pdfplumber) (9.4.0)
Collecting pypdfium2>=4.18.0 (from pdfplumber)
  Downloading pypdfium2-4.26.0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 42.8 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six==20221105->pdfplumber) (3.3.2)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six==20221105->pdfplumber) (42.0.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from langid) (1.23.5)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=36.0.0->pdfminer.six==20221105->pdfplumber) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20221105->pdfplumber) (2.21)
Building wheels for collected packages: langid
  Building wheel for langid (setup.py) ... done
  Created wheel for langid: filename=langid-1.1.6-py3-none-any.whl size=1941172 sha256=d4cbec8a2a672967dc8b9b76325dd956a58ad617a797b6020d5911dafc560e14
  Stored in directory: /root/.cache/pip/wheels/23/c8/c6/eed80894918490a175677414d40bd7c851413bbe03d4856c3c
Successfully built langid
Installing collected packages: pypdfium2, langid, pdfminer.six, pdfplumber
Successfully installed langid-1.1.6 pdfminer.six-20221105 pdfplumber-0.10.3 pypdfium2-4.26.0

In [ ]:
!pip install PyPDF2

Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.10/dist-packages (3.0.1)

In [ ]:
!pip install pymupdf

Requirement already satisfied: pymupdf in /usr/local/lib/python3.10/dist-packages (1.23.21)
Requirement already satisfied: PyMuPDFb==1.23.9 in /usr/local/lib/python3.10/dist-packages (from pymupdf) (1.23.9)

In [ ]:
import pdfplumber
import re
import pandas as pd

def extract_specific_lines(pdf_path):
    with pdfplumber.open(pdf_path) as pdf:
        relevant_lines = []
        for page in pdf.pages:
            page_text = page.extract_text()
            lines = [line.strip() for line in page_text.split('\n') if line.strip()]

            for line in lines:
             if re.search(r'\b\d{9}[A-Z]([A-Za-z .ගවගම]*)?\b|\b\d{12}\b|\*\*\*\*\*\*\*\*\*\*', line):
                    line = re.sub(r'^\[\d+\]', '', line)
                    line = re.sub(r'(\d{9}[A-Z])([A-Za-z .ගවගම]*)', r'\1 \2', line)
                    line = re.sub(r'\*\*\*\*\*\*\*\*\*\*(\S)', r'********** \1', line)

                    relevant_lines.append(line.strip())
    return relevant_lines

def process_lines(lines):
    processed_lines = []
    prev_add_line = None
    for line in lines:
        match = re.match(r'(?P<Add_Line>\d{1,4}(?:\/\d+[A-Za-z]*)?)?(?P<Name>[\S\s]*?)'
                         r'(?P<ID>\d{9}[A-Z]|\*{10})(?P<Gender>[\S\s]*?)'
                         r'(?P<No>\d{1,4})$', line)

        if match:
            add_line = match.group('Add_Line')
            name = match.group('Name').strip()
            english_part = re.match(r'^[A-Za-z0-9/]+', name)
            if english_part:
                add_line = f"{add_line} {english_part.group()}"
                name = name[len(english_part.group()):].strip()

            if add_line is None:
                add_line = prev_add_line
            else:
                prev_add_line = add_line

            gender = match.group('Gender').strip()
            if 'ගව' in gender or 'ගම' in gender:
                gender = 'Female'
            elif 'ප' in gender:
                gender = 'Male'

            processed_lines.append({
                'Add.Line': add_line,
                'Name': name,
                'ID': match.group('ID'),
                'Gender': gender,
                'No': match.group('No')
            })
    return processed_lines


def create_table(lines):
    df = pd.DataFrame(lines)
    return df

def extract_and_create_table(pdf_path):
    extracted_lines = extract_specific_lines(pdf_path)
    processed_lines = process_lines(extracted_lines)
    table_df = create_table(processed_lines)
    return table_df

table_df = extract_and_create_table(pdf_path)
print(table_df)

    Add.Line                                   Name          ID  Gender   No
0          1               වදජසඅහ මදයනදසසලපදග ලලපවත  396630842V  Female    1
1        1/1       දනකපර මදයනදසසලපදග ලකෂත රවන ජයසඅහ  960260171V    Male    2
2        1/1                දනකපර මදයනදසසලපදග ජයරතන  670374941V    Male    3
3        1/1                දදකඹගහ පතරණදග චනදප පරසස  695421290V  Female    4
4     1/1 /A             නපගහවතත මදයනදසසලපදග අමරදපස  552701666V    Male    5
..       ...                                    ...         ...     ...  ...
870      178                   ජයදසසකර ආරචචදග පදමසර  792010415V    Male  871
871      178       දහසරත මදයනදසසලපදග පදපප දඝපය පයනත  825124322V  Female  872
872      179                        පසසසවලලදග ආරයවත  467680412V  Female  873
873    179/1                 වරසඅහ මදයනදසසලපදග රඅජත  712270764V    Male  874
874    179/1  දහසවපනපයක මදයනදසසලපදග කසලපන දහසවපනපයක  725011466V    Male  875

[875 rows x 5 columns]

In [ ]:
table_df.head(50)

   Add.Line                                     Name          ID  Gender  No
0         1                 වදජසඅහ මදයනදසසලපදග ලලපවත  396630842V  Female   1
1       1/1         දනකපර මදයනදසසලපදග ලකෂත රවන ජයසඅහ  960260171V    Male   2
2       1/1                  දනකපර මදයනදසසලපදග ජයරතන  670374941V    Male   3
3       1/1                  දදකඹගහ පතරණදග චනදප පරසස  695421290V  Female   4
4    1/1 /A               නපගහවතත මදයනදසසලපදග අමරදපස  552701666V    Male   5
5    1/1 /A          නපගහවතදත මදයනදසසලපදග හසතප දනඅජන  905250094V  Female   6
6    1/1 /A                ජයසනදර මදයනදසසලපදග කසමපවත  596692117V  Female   7
7    1/1 /A          නපගහවතත මදයනදසසලපදග නනදන කමපර 5  861991032V    Male   8
8    1/1 /A        නපගහවතදත මදයනදසසලපදග ඉදරරප දනන0දන  927641356V  Female   9
9         2              දකකචචදගකඩ කඅකපනමදග සපලයවත E  616383167V  Female  10
10        2          දකකචචදගකඩ කඅකපනමදග සමතප කලලපණවත  635841427V  Female  11
11        2           දකකචචදගකඩ කඅකපනමදග සනධ ලප රඅජන  656802812V  Female  12
12        3                 දසපනපයක මදයනදසසලපදග සලවත  515311998V  Female  13
13        3              දසපනපයක මදයනදසසලපදග දපසමදපස  532900603V    Male  14
14       04              දසපනපයක මදයනදසPසලපදග චනදදපස  680494398V    Male  15
15       04                  දපදර දහසවදග නනදප ද සලවප  677161353V  Female  16
16       04            දසපනපයක මදයනදසසලපදග තලණ ලකමපල  912320197V    Male  17
17      4/1   මවණක දහටට ආරචචලපදග ලසනත නරෂකප දහටටආරචච  816421683V  Female  18
18        5          එදරසඅහ මදයනදසසලපදග දරරහත එදරසඅහ  661161582V    Male  19
19        5                 දවළද දහසවපදග ලකරසම පනපනද  665612910V  Female  20
20      5/1                අතතනපයක මදයනදසසලපදග නශපනත  790154797V    Male  21
21      5/1           රතනපයක මදයනදසසලපදග වජරප මඅගලකප  795780181V  Female  22
22        6                   රතනප දවද ආරචචදග වමලපවත  347770728V  Female  23
23        6                  රතනපයක මදයනදසසලපදග සමතප  536411321V  Female  24
24     07/1    නපනපයකකපර වසඅදගකඩ ලයනදග යසපපල ධරමදසසන  492730688V    Male  25
25     07/1  නපනපයකකපර වසම දගකදඩ ලයනදග දනරසකප මධරඅගන  897021986V  Female  26
26     07/1      නපනපයකකපර වසඅදගකදඩ ලයනදග අමල පයදරශන  910792172V    Male  27
27     07/1                   කරකලසරය පටබවඳදග සරයපවත  587880083V  Female  28
28     07/1    නපනපයකකපර වසඅදගකඩ ලයනදග අනරසකප පයදරශණ  877963691V  Female  29
29      7/1           නපනපයකකපර වසඅදගකඩ ලයනදග නනදපපල  611903529V    Male  30
30      7/1        නපනපයකකපර වසඅදගකඩ ලයනදග නසඅක පබදධ  891991568V    Male  31
31      7/1                 දගකඩමඩතදත දගදර ඩඅගරමවණකප  618343340V  Female  32
32      7/1      නපනපයකකපර වසඅදගකඩ ලයනදග අනරප පයදරශණ  865650965V  Female  33
33      7/1        නපනපයකකපර වසඅදගකඩ ලයනදග අසඅක පයනත  870560648V    Male  34
34      7/3           නපනපයකකපර වසඅදගකඩ ලයනදග ජයතසසස  651331501V    Male  35
35      7/3                දකකචචදගකඩ කඅකපනමදග සමනපවත  677453087V  Female  36
36      7/3    නපනපයකකපර වසම දගකදඩ ලයනදග හදමරරප හඅසන  938411107V  Female  37
37        8                      දපකඩදනරනප දහසවපකරපප  398530985V  Female  38
38        8       දහසවප කරපපදග චමනද නවන දහසවප කරපපදග  803413053V    Male  39
39        8      දකරනපර මදයනදසසලපදග නශපන ඉදමරප ජයසරය  865742967V  Female  40
40      8/1            දසපනපයක මදයනදසසලපදග ලසතප නනදන  657860751V  Female  41
41      8/1            මවණක දහටට ආරචචලපදග දදනරස එරනද  833642758V    Male  42
42      8/1            මවණක දහටට ආරචචලපදග රදමරස ලකපය  852630779V    Male  43
43       09                 දකරණපර මදයනදසසලපදග අතලසර  633553114V    Male  44
44       09            දකරණපර මදයනදසසලපදග අශපන මදරඅක  852610085V    Male  45
45       09               දසපනයක මදයනදසසලපදග දසරමපවත  645011805V  Female  46
46       09             දකරණපර මදයනදසසලපදග ඉරපන චපනක  902580166V    Male  47
47       09            ජයලත ආරචචලපදග දදකන චපනදන ශපමප  937340770V  Female  48
48      9/1             දකරණපර මදයනදසසලපදග ගයපන ඉනදක  831810149V    Male  49
49      9/1           රතනපයක මදයනදසසලපදග නදරරරණ කමපර  846773010V  Female  50

In [ ]:
table_df.drop(columns=['Name'], inplace=True)
print(table_df)

    Add.Line          ID  Gender   No
0          1  396630842V  Female    1
1        1/1  960260171V    Male    2
2        1/1  670374941V    Male    3
3        1/1  695421290V  Female    4
4     1/1 /A  552701666V    Male    5
..       ...         ...     ...  ...
870      178  792010415V    Male  871
871      178  825124322V  Female  872
872      179  467680412V  Female  873
873    179/1  712270764V    Male  874
874    179/1  725011466V    Male  875

[875 rows x 4 columns]

In [ ]:
merged_df = pd.merge(df1, table_df, on='No', how='outer')
print(merged_df)

     Page Number                                               Text  \
0            1.0                    විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo
1            1.0                                                NaN
2           14.0  රත්නායක මුදියන්සේලාගේ විජිනා ප්රියදාර්ශනි Seee...
3            1.0                                      ඡන්ද කොට්ඨාශය
4            1.0          දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ
..           ...                                                ...
934          NaN                                                NaN
935          NaN                                                NaN
936          NaN                                                NaN
937          NaN                                                NaN
938          NaN                                                NaN

    Electoral District Electoral Division Divisional Secretariat  \
0               බදුල්ල             බදුල්ල                 බදුල්ල
1               බදුල්ල             බදුල්ල                 බදුල්ල
2               බදුල්ල             බදුල්ල                 බදුල්ල
3               බදුල්ල             බදුල්ල                 බදුල්ල
4               බදුල්ල             බදුල්ල                 බදුල්ල
..                 ...                ...                    ...
934                NaN                NaN                    NaN
935                NaN                NaN                    NaN
936                NaN                NaN                    NaN
937                NaN                NaN                    NaN
938                NaN                NaN                    NaN

    Grama Niladari Division   No Add.Line          ID  Gender
0                     හෑගොඩ    1        1  396630842V  Female
1                     හෑගොඩ    1        1  396630842V  Female
2                     හෑගොඩ    1        1  396630842V  Female
3                     හෑගොඩ    1        1  396630842V  Female
4                     හෑගොඩ    2      1/1  960260171V    Male
..                      ...  ...      ...         ...     ...
934                     NaN  840      172  807661418V  Female
935                     NaN  841      172  783061961V    Male
936                     NaN  842      172  775730307V  Female
937                     NaN  855      175  447561360V  Female
938                     NaN  872      178  825124322V  Female

[939 rows x 10 columns]

In [ ]:
merged_df = merged_df.dropna(subset=['Text'])
merged_df = merged_df.dropna(subset=['Gender'])
print(merged_df)

     Page Number                                               Text  \
0            1.0                    විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo
2           14.0  රත්නායක මුදියන්සේලාගේ විජිනා ප්රියදාර්ශනි Seee...
3            1.0                                      ඡන්ද කොට්ඨාශය
4            1.0          දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ
6            5.0   රත්නායක මුදියන්සේලාගේ නන්දාවතී නාශාශයායාගනාගය...
..           ...                                                ...
879         19.0                           ජයසේකර ආරච්චිගේ පද්මසිරි
881         20.0                              පුස්සැල්ලගේ ආරියවතීqj
882         20.0                       වීරසිංහ මුදියන්සේලාගේ රංජින්
883         20.0            භේචානායක මුදියන්සේලාගේ කුසලානි භේවානායක
884         20.0                                            Be m oz

    Electoral District Electoral Division Divisional Secretariat  \
0               බදුල්ල             බදුල්ල                 බදුල්ල
2               බදුල්ල             බදුල්ල                 බදුල්ල
3               බදුල්ල             බදුල්ල                 බදුල්ල
4               බදුල්ල             බදුල්ල                 බදුල්ල
6               බදුල්ල             බදුල්ල                 බදුල්ල
..                 ...                ...                    ...
879             බදුල්ල             බදුල්ල                 බදුල්ල
881             බදුල්ල             බදුල්ල                 බදුල්ල
882             බදුල්ල             බදුල්ල                 බදුල්ල
883             බදුල්ල             බදුල්ල                 බදුල්ල
884             බදුල්ල             බදුල්ල                 බදුල්ල

    Grama Niladari Division   No Add.Line          ID  Gender
0                     හෑගොඩ    1        1  396630842V  Female
2                     හෑගොඩ    1        1  396630842V  Female
3                     හෑගොඩ    1        1  396630842V  Female
4                     හෑගොඩ    2      1/1  960260171V    Male
6                     හෑගොඩ    2      1/1  960260171V    Male
..                      ...  ...      ...         ...     ...
879                   හෑගොඩ  871      178  792010415V    Male
881                   හෑගොඩ  873      179  467680412V  Female
882                   හෑගොඩ  874    179/1  712270764V    Male
883                   හෑගොඩ  875    179/1  725011466V    Male
884                   හෑගොඩ  875    179/1  725011466V    Male

[854 rows x 10 columns]

In [ ]:
duplicates = merged_df.duplicated(subset=['No'])
filtered_df = merged_df[~duplicates]
print(filtered_df)

     Page Number                                          Text  \
0            1.0               විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo
4            1.0     දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ
8            1.0                 දුනූකාර මුදියන්සේලාගේ ජයරත්න&
11           1.0                 නංගහවන්න මුදියන්සේලාගේ අමරදාස
14           1.0       නංගහවන්තේ මුදියන්සේලාගේ හසිනං දානංජනීoy
..           ...                                           ...
878         19.0  හෙට්ටි චන්නකු රාජපක්ෂ මුදියන්සේලාගේ ගුණවතීqj
879         19.0                      ජයසේකර ආරච්චිගේ පද්මසිරි
881         20.0                         පුස්සැල්ලගේ ආරියවතීqj
882         20.0                  වීරසිංහ මුදියන්සේලාගේ රංජින්
883         20.0       භේචානායක මුදියන්සේලාගේ කුසලානි භේවානායක

    Electoral District Electoral Division Divisional Secretariat  \
0               බදුල්ල             බදුල්ල                 බදුල්ල
4               බදුල්ල             බදුල්ල                 බදුල්ල
8               බදුල්ල             බදුල්ල                 බදුල්ල
11              බදුල්ල             බදුල්ල                 බදුල්ල
14              බදුල්ල             බදුල්ල                 බදුල්ල
..                 ...                ...                    ...
878             බදුල්ල             බදුල්ල                 බදුල්ල
879             බදුල්ල             බදුල්ල                 බදුල්ල
881             බදුල්ල             බදුල්ල                 බදුල්ල
882             බදුල්ල             බදුල්ල                 බදුල්ල
883             බදුල්ල             බදුල්ල                 බදුල්ල

    Grama Niladari Division   No Add.Line          ID  Gender
0                     හෑගොඩ    1        1  396630842V  Female
4                     හෑගොඩ    2      1/1  960260171V    Male
8                     හෑගොඩ    3      1/1  670374941V    Male
11                    හෑගොඩ    9   1/1 /A  927641356V  Female
14                    හෑගොඩ    6   1/1 /A  905250094V  Female
..                      ...  ...      ...         ...     ...
878                   හෑගොඩ  870      178  487000132V  Female
879                   හෑගොඩ  871      178  792010415V    Male
881                   හෑගොඩ  873      179  467680412V  Female
882                   හෑගොඩ  874    179/1  712270764V    Male
883                   හෑගොඩ  875    179/1  725011466V    Male

[820 rows x 10 columns]

In [ ]:
filtered_df.head(20)

,Page Number,Text,Electoral District,Electoral Division,Divisional Secretariat,Grama Niladari Division,No,Add.Line,ID,Gender
0,1.0,විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,1,1,396630842V,Female
4,1.0,දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,2,1/1,960260171V,Male
8,1.0,දුනූකාර මුදියන්සේලාගේ ජයරත්න&,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,3,1/1,670374941V,Male
11,1.0,නංගහවන්න මුදියන්සේලාගේ අමරදාස,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,9,1/1 /A,927641356V,Female
14,1.0,නංගහවන්තේ මුදියන්සේලාගේ හසිනං දානංජනීoy,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,6,1/1 /A,905250094V,Female
16,1.0,ජයසුන්දර මුදියන්සේලාගේ කුසුමාවතීගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,7,1/1 /A,596692117V,Female
19,1.0,නංගහවන්තන මුදියන්සේලාගේ නන්දන කුමාර&,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,8,1/1 /A,861991032V,Male
20,1.0,කොච්චිගොඩ කංකානම්ගේ සාලියචවතීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,10,2,616383167V,Female
23,1.0,කොච්චිගොඩ කංකානම්ගේ සුමිත්රා කල්යාණවතීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,11,2,635841427V,Female
25,1.0,කොච්චිගොඩ කංකානම්ගේ සන්ධ්යා රංජනීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,12,2,656802812V,Female
28,1.0,දිසානායක මුදියන්සේලාගේ සිලචතී SISo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,13,3,515311998V,Female
31,1.0,දිසානායක මුදියන්සේලාගේ ප්රේමදාසප,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,14,3,532900603V,Male
33,1.0,දිසානායක මුදියන්සේලාගේ චන්ද්රදාසප,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,15,04,680494398V,Male
35,1.0,පේදුරු හේවගේ නන්දා ද සිල්වාගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,16,04,677161353V,Female
37,1.0,දිසානායක මුදියන්සේලාගේ තිලිණ ලක්මාල්,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,17,04,912320197V,Male
39,1.0,මැණික් හෙට්ටි ආරච්චිලාගේ ලසන්ති නිරූෂිකා හෙට්ට...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,18,4/1,816421683V,Female
41,1.0,ijඑදිරිසිංහ මුදියන්සේලාගේ රෝහිත එදිරිසිංහ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,19,5,661161582V,Male
43,1.0,වෙළද භහේවාගේ ලක්ෂමී ප්රනාන්දු! ගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,20,5,665612910V,Female
45,1.0,අත්තනායක මුදියන්සේලාගේ නිශාන්තප,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,21,5/1,790154797V,Male
47,1.0,රත්නායක මුදියන්සේලාගේ චජිරා මංගලිකාගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,22,5/1,795780181V,Female

In [ ]:
import datetime

In [ ]:

import pandas as pd

def validate(id_str: str) -> bool:
    id_length = len(id_str)
    if (id_length == 12 or (id_length == 10 and id_str[:-1].isdigit() and (id_str[-1] == 'v' or id_str[-1] == 'V'))):
        return True
    else:
        return False

def change_id_type(id_str: str) -> str:
    if len(id_str) == 10:
        return '19' + id_str[:-1] + '0' + id_str[-1]
    else:
        return id_str

def get_born_year(id_str: str) -> int:
    return int(id_str[:4])

def get_gender(id_str: str) -> str:
    if int(id_str[4:7]) < 500:
        return "Male"
    else:
        return "Female"

def get_born_date(id_str: str) -> datetime.date:
    born_year = get_born_year(id_str)
    born_day = int(id_str[4:7])
    if born_day > 500:
        born_day -= 500
    date_calculator = datetime.date(2000, 1, 1) + datetime.timedelta(days=born_day - 1)
    born_date = date_calculator.replace(year=born_year)
    return born_date

filtered_df['ID'] = filtered_df['ID'].astype(str)

filtered_df['Valid_ID'] = filtered_df['ID'].apply(validate)
df_valid = filtered_df.copy()

df_valid.loc[df_valid['Valid_ID'] == False, ['ID', 'Gender', 'Birthday', 'Valid_ID']] = [None, None, None, None]

df_valid['Duplicate_ID'] = df_valid['ID']

df_valid.loc[df_valid['Valid_ID'] == True, 'Duplicate_ID'] = df_valid.loc[df_valid['Valid_ID'] == True, 'Duplicate_ID'].apply(change_id_type)

df_valid.loc[df_valid['Valid_ID'] == True, 'Gender'] = df_valid.loc[df_valid['Valid_ID'] == True, 'Duplicate_ID'].apply(get_gender)
df_valid.loc[df_valid['Valid_ID'] == True, 'Birthday'] = df_valid.loc[df_valid['Valid_ID'] == True, 'Duplicate_ID'].apply(get_born_date)

df_valid['Birth_Year'] = df_valid['Birthday'].apply(lambda x: x.year if not pd.isnull(x) else np.nan)
df_valid['Birth_Month'] = df_valid['Birthday'].apply(lambda x: x.month if not pd.isnull(x) else np.nan)
df_valid['Birth_Day'] = df_valid['Birthday'].apply(lambda x: x.day if not pd.isnull(x) else np.nan)

print(df_valid[['ID', 'Duplicate_ID', 'Gender', 'Birthday', 'Birth_Year', 'Birth_Month', 'Birth_Day']])

             ID   Duplicate_ID  Gender    Birthday  Birth_Year  Birth_Month  \
0    396630842V  193966308420V  Female  1939-06-11      1939.0          6.0
4    960260171V  199602601710V    Male  1996-01-26      1996.0          1.0
8    670374941V  196703749410V    Male  1967-02-06      1967.0          2.0
11   927641356V  199276413560V  Female  1992-09-20      1992.0          9.0
14   905250094V  199052500940V  Female  1990-01-25      1990.0          1.0
..          ...            ...     ...         ...         ...          ...
878  487000132V  194870001320V  Female  1948-07-18      1948.0          7.0
879  792010415V  197920104150V    Male  1979-07-19      1979.0          7.0
881  467680412V  194676804120V  Female  1946-09-24      1946.0          9.0
882  712270764V  197122707640V    Male  1971-08-14      1971.0          8.0
883  725011466V  197250114660V  Female  1972-01-01      1972.0          1.0

     Birth_Day
0         11.0
4         26.0
8          6.0
11        20.0
14        25.0
..         ...
878       18.0
879       19.0
881       24.0
882       14.0
883        1.0

[820 rows x 7 columns]

<ipython-input-46-9604a490f5f6>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['ID'] = filtered_df['ID'].astype(str)
<ipython-input-46-9604a490f5f6>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['Valid_ID'] = filtered_df['ID'].apply(validate)

In [ ]:
df_valid.head(20)

,Page Number,Text,Electoral District,Electoral Division,Divisional Secretariat,Grama Niladari Division,No,Add.Line,ID,Gender,Valid_ID,Birthday,Duplicate_ID,Birth_Year,Birth_Month,Birth_Day
0,1.0,විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,1,1,396630842V,Female,True,1939-06-11,193966308420V,1939.0,6.0,11.0
4,1.0,දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,2,1/1,960260171V,Male,True,1996-01-26,199602601710V,1996.0,1.0,26.0
8,1.0,දුනූකාර මුදියන්සේලාගේ ජයරත්න&,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,3,1/1,670374941V,Male,True,1967-02-06,196703749410V,1967.0,2.0,6.0
11,1.0,නංගහවන්න මුදියන්සේලාගේ අමරදාස,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,9,1/1 /A,927641356V,Female,True,1992-09-20,199276413560V,1992.0,9.0,20.0
14,1.0,නංගහවන්තේ මුදියන්සේලාගේ හසිනං දානංජනීoy,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,6,1/1 /A,905250094V,Female,True,1990-01-25,199052500940V,1990.0,1.0,25.0
16,1.0,ජයසුන්දර මුදියන්සේලාගේ කුසුමාවතීගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,7,1/1 /A,596692117V,Female,True,1959-06-17,195966921170V,1959.0,6.0,17.0
19,1.0,නංගහවන්තන මුදියන්සේලාගේ නන්දන කුමාර&,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,8,1/1 /A,861991032V,Male,True,1986-07-17,198619910320V,1986.0,7.0,17.0
20,1.0,කොච්චිගොඩ කංකානම්ගේ සාලියචවතීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,10,2,616383167V,Female,True,1961-05-17,196163831670V,1961.0,5.0,17.0
23,1.0,කොච්චිගොඩ කංකානම්ගේ සුමිත්රා කල්යාණවතීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,11,2,635841427V,Female,True,1963-03-24,196358414270V,1963.0,3.0,24.0
25,1.0,කොච්චිගොඩ කංකානම්ගේ සන්ධ්යා රංජනීo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,12,2,656802812V,Female,True,1965-06-28,196568028120V,1965.0,6.0,28.0
28,1.0,දිසානායක මුදියන්සේලාගේ සිලචතී SISo,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,13,3,515311998V,Female,True,1951-01-31,195153119980V,1951.0,1.0,31.0
31,1.0,දිසානායක මුදියන්සේලාගේ ප්රේමදාසප,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,14,3,532900603V,Male,True,1953-10-16,195329006030V,1953.0,10.0,16.0
33,1.0,දිසානායක මුදියන්සේලාගේ චන්ද්රදාසප,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,15,04,680494398V,Male,True,1968-02-18,196804943980V,1968.0,2.0,18.0
35,1.0,පේදුරු හේවගේ නන්දා ද සිල්වාගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,16,04,677161353V,Female,True,1967-08-03,196771613530V,1967.0,8.0,3.0
37,1.0,දිසානායක මුදියන්සේලාගේ තිලිණ ලක්මාල්,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,17,04,912320197V,Male,True,1991-08-19,199123201970V,1991.0,8.0,19.0
39,1.0,මැණික් හෙට්ටි ආරච්චිලාගේ ලසන්ති නිරූෂිකා හෙට්ට...,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,18,4/1,816421683V,Female,True,1981-05-21,198164216830V,1981.0,5.0,21.0
41,1.0,ijඑදිරිසිංහ මුදියන්සේලාගේ රෝහිත එදිරිසිංහ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,19,5,661161582V,Male,True,1966-04-25,196611615820V,1966.0,4.0,25.0
43,1.0,වෙළද භහේවාගේ ලක්ෂමී ප්රනාන්දු! ගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,20,5,665612910V,Female,True,1966-03-01,196656129100V,1966.0,3.0,1.0
45,1.0,අත්තනායක මුදියන්සේලාගේ නිශාන්තප,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,21,5/1,790154797V,Male,True,1979-01-15,197901547970V,1979.0,1.0,15.0
47,1.0,රත්නායක මුදියන්සේලාගේ චජිරා මංගලිකාගැ,බදුල්ල,බදුල්ල,බදුල්ල,හෑගොඩ,22,5/1,795780181V,Female,True,1979-03-18,197957801810V,1979.0,3.0,18.0

In [ ]:

df_valid['District'] = df_valid['Electoral District'].map({'බදුල්ල': 'Badulla',
                                                           'දිගාමඩුල්ල': 'Ampara',
                                                           'කොළඹ':'Colombo',
                                                           'ගම්පහ':'Gampaha',
                                                           'කළුතර':'Kalutara',
                                                           'මහනුවර':'Kandy',
                                                           'නුවරඑලිය':'Nuwara Eliya',
                                                           'මාතලේ':'Matale',
                                                           'ගාල්ල':'Galle',
                                                           'මාතර':'Matara',
                                                           'හම්බන්තොට':'Hambantota',
                                                           'අනුරාධපුර':'Anuradhapura',
                                                           'පොළොන්නරුව':'Polonnaruwa',
                                                           'ත්‍රිකුණාමලය':'Trincomalee',
                                                           'මඩකලපුව':'Batticaloa',
                                                           'මොණරාගල':'Monaragala',
                                                           'වන්නි':'Mannar/Mullaitivu/Vavuniya',
                                                           'යාපනය':'Jaffna/Kilinochch',
                                                           'කුරුණෑගල':'Kurunegala',
                                                           'පුත්තලම':'Puttalam',
                                                           'රත්නපුර':'Ratnapura',
                                                           'කෑගල්ල':'Kegalle'})


df_valid['Province'] = df_valid['Electoral District'].map({'බදුල්ල': 'Uva',
                                                           'දිගාමඩුල්ල': 'Eastern',
                                                           'කොළඹ':'Western',
                                                           'ගම්පහ':'Western',
                                                           'කළුතර':'Western',
                                                           'මහනුවර':'Central',
                                                           'නුවරඑලිය':'Central',
                                                           'මාතලේ':'Central',
                                                           'ගාල්ල':'Southern',
                                                           'මාතර':'Southern',
                                                           'හම්බන්තොට':'Southern',
                                                           'අනුරාධපුර':'North Central',
                                                           'පොළොන්නරුව':'North Central',
                                                           'ත්‍රිකුණාමලය':'Eastern',
                                                           'මඩකලපුව':'Eastern',
                                                           'මොණරාගල':'Uva',
                                                           'වන්නි':'Northern',
                                                           'යාපනය':'Northern',
                                                           'කුරුණෑගල':'North Western',
                                                           'පුත්තලම':'North Western',
                                                           'රත්නපුර':'Sabaragamuwa',
                                                           'කෑගල්ල':'Sabaragamuwa'})

print(df_valid)

     Page Number                                          Text  \
0            1.0               විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo
4            1.0     දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ
8            1.0                 දුනූකාර මුදියන්සේලාගේ ජයරත්න&
11           1.0                 නංගහවන්න මුදියන්සේලාගේ අමරදාස
14           1.0       නංගහවන්තේ මුදියන්සේලාගේ හසිනං දානංජනීoy
..           ...                                           ...
878         19.0  හෙට්ටි චන්නකු රාජපක්ෂ මුදියන්සේලාගේ ගුණවතීqj
879         19.0                      ජයසේකර ආරච්චිගේ පද්මසිරි
881         20.0                         පුස්සැල්ලගේ ආරියවතීqj
882         20.0                  වීරසිංහ මුදියන්සේලාගේ රංජින්
883         20.0       භේචානායක මුදියන්සේලාගේ කුසලානි භේවානායක

    Electoral District Electoral Division Divisional Secretariat  \
0               බදුල්ල             බදුල්ල                 බදුල්ල
4               බදුල්ල             බදුල්ල                 බදුල්ල
8               බදුල්ල             බදුල්ල                 බදුල්ල
11              බදුල්ල             බදුල්ල                 බදුල්ල
14              බදුල්ල             බදුල්ල                 බදුල්ල
..                 ...                ...                    ...
878             බදුල්ල             බදුල්ල                 බදුල්ල
879             බදුල්ල             බදුල්ල                 බදුල්ල
881             බදුල්ල             බදුල්ල                 බදුල්ල
882             බදුල්ල             බදුල්ල                 බදුල්ල
883             බදුල්ල             බදුල්ල                 බදුල්ල

    Grama Niladari Division   No Add.Line          ID  Gender Valid_ID  \
0                     හෑගොඩ    1        1  396630842V  Female     True
4                     හෑගොඩ    2      1/1  960260171V    Male     True
8                     හෑගොඩ    3      1/1  670374941V    Male     True
11                    හෑගොඩ    9   1/1 /A  927641356V  Female     True
14                    හෑගොඩ    6   1/1 /A  905250094V  Female     True
..                      ...  ...      ...         ...     ...      ...
878                   හෑගොඩ  870      178  487000132V  Female     True
879                   හෑගොඩ  871      178  792010415V    Male     True
881                   හෑගොඩ  873      179  467680412V  Female     True
882                   හෑගොඩ  874    179/1  712270764V    Male     True
883                   හෑගොඩ  875    179/1  725011466V  Female     True

       Birthday   Duplicate_ID  Birth_Year  Birth_Month  Birth_Day District  \
0    1939-06-11  193966308420V      1939.0          6.0       11.0  Badulla
4    1996-01-26  199602601710V      1996.0          1.0       26.0  Badulla
8    1967-02-06  196703749410V      1967.0          2.0        6.0  Badulla
11   1992-09-20  199276413560V      1992.0          9.0       20.0  Badulla
14   1990-01-25  199052500940V      1990.0          1.0       25.0  Badulla
..          ...            ...         ...          ...        ...      ...
878  1948-07-18  194870001320V      1948.0          7.0       18.0  Badulla
879  1979-07-19  197920104150V      1979.0          7.0       19.0  Badulla
881  1946-09-24  194676804120V      1946.0          9.0       24.0  Badulla
882  1971-08-14  197122707640V      1971.0          8.0       14.0  Badulla
883  1972-01-01  197250114660V      1972.0          1.0        1.0  Badulla

    Province
0        Uva
4        Uva
8        Uva
11       Uva
14       Uva
..       ...
878      Uva
879      Uva
881      Uva
882      Uva
883      Uva

[820 rows x 18 columns]

In [ ]:
column_to_group = 'Add.Line'

df_valid['Fam.Id'] = 'F-' + (df_valid[column_to_group].astype('category').cat.codes + 1).astype(str)

print(df_valid)

     Page Number                                          Text  \
0            1.0               විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo
4            1.0     දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ
8            1.0                 දුනූකාර මුදියන්සේලාගේ ජයරත්න&
11           1.0                 නංගහවන්න මුදියන්සේලාගේ අමරදාස
14           1.0       නංගහවන්තේ මුදියන්සේලාගේ හසිනං දානංජනීoy
..           ...                                           ...
878         19.0  හෙට්ටි චන්නකු රාජපක්ෂ මුදියන්සේලාගේ ගුණවතීqj
879         19.0                      ජයසේකර ආරච්චිගේ පද්මසිරි
881         20.0                         පුස්සැල්ලගේ ආරියවතීqj
882         20.0                  වීරසිංහ මුදියන්සේලාගේ රංජින්
883         20.0       භේචානායක මුදියන්සේලාගේ කුසලානි භේවානායක

    Electoral District Electoral Division Divisional Secretariat  \
0               බදුල්ල             බදුල්ල                 බදුල්ල
4               බදුල්ල             බදුල්ල                 බදුල්ල
8               බදුල්ල             බදුල්ල                 බදුල්ල
11              බදුල්ල             බදුල්ල                 බදුල්ල
14              බදුල්ල             බදුල්ල                 බදුල්ල
..                 ...                ...                    ...
878             බදුල්ල             බදුල්ල                 බදුල්ල
879             බදුල්ල             බදුල්ල                 බදුල්ල
881             බදුල්ල             බදුල්ල                 බදුල්ල
882             බදුල්ල             බදුල්ල                 බදුල්ල
883             බදුල්ල             බදුල්ල                 බදුල්ල

    Grama Niladari Division   No Add.Line          ID  Gender Valid_ID  \
0                     හෑගොඩ    1        1  396630842V  Female     True
4                     හෑගොඩ    2      1/1  960260171V    Male     True
8                     හෑගොඩ    3      1/1  670374941V    Male     True
11                    හෑගොඩ    9   1/1 /A  927641356V  Female     True
14                    හෑගොඩ    6   1/1 /A  905250094V  Female     True
..                      ...  ...      ...         ...     ...      ...
878                   හෑගොඩ  870      178  487000132V  Female     True
879                   හෑගොඩ  871      178  792010415V    Male     True
881                   හෑගොඩ  873      179  467680412V  Female     True
882                   හෑගොඩ  874    179/1  712270764V    Male     True
883                   හෑගොඩ  875    179/1  725011466V  Female     True

       Birthday   Duplicate_ID  Birth_Year  Birth_Month  Birth_Day District  \
0    1939-06-11  193966308420V      1939.0          6.0       11.0  Badulla
4    1996-01-26  199602601710V      1996.0          1.0       26.0  Badulla
8    1967-02-06  196703749410V      1967.0          2.0        6.0  Badulla
11   1992-09-20  199276413560V      1992.0          9.0       20.0  Badulla
14   1990-01-25  199052500940V      1990.0          1.0       25.0  Badulla
..          ...            ...         ...          ...        ...      ...
878  1948-07-18  194870001320V      1948.0          7.0       18.0  Badulla
879  1979-07-19  197920104150V      1979.0          7.0       19.0  Badulla
881  1946-09-24  194676804120V      1946.0          9.0       24.0  Badulla
882  1971-08-14  197122707640V      1971.0          8.0       14.0  Badulla
883  1972-01-01  197250114660V      1972.0          1.0        1.0  Badulla

    Province Fam.Id
0        Uva    F-4
4        Uva    F-5
8        Uva    F-5
11       Uva    F-6
14       Uva    F-6
..       ...    ...
878      Uva  F-138
879      Uva  F-138
881      Uva  F-139
882      Uva  F-140
883      Uva  F-140

[820 rows x 19 columns]

In [ ]:
import uuid

In [ ]:
df_valid['U-Id'] = [str(uuid.uuid4()) for _ in range(len(df_valid))]

print(df_valid)

     Page Number                                          Text  \
0            1.0               විජේසිංහ මුදියන්සේලාගේ ලීලාවතීo
4            1.0     දුනූකාර මුදියන්සේලාගේ ලක්ෂිත රුවන් ජයසිංහ
8            1.0                 දුනූකාර මුදියන්සේලාගේ ජයරත්න&
11           1.0                 නංගහවන්න මුදියන්සේලාගේ අමරදාස
14           1.0       නංගහවන්තේ මුදියන්සේලාගේ හසිනං දානංජනීoy
..           ...                                           ...
878         19.0  හෙට්ටි චන්නකු රාජපක්ෂ මුදියන්සේලාගේ ගුණවතීqj
879         19.0                      ජයසේකර ආරච්චිගේ පද්මසිරි
881         20.0                         පුස්සැල්ලගේ ආරියවතීqj
882         20.0                  වීරසිංහ මුදියන්සේලාගේ රංජින්
883         20.0       භේචානායක මුදියන්සේලාගේ කුසලානි භේවානායක

    Electoral District Electoral Division Divisional Secretariat  \
0               බදුල්ල             බදුල්ල                 බදුල්ල
4               බදුල්ල             බදුල්ල                 බදුල්ල
8               බදුල්ල             බදුල්ල                 බදුල්ල
11              බදුල්ල             බදුල්ල                 බදුල්ල
14              බදුල්ල             බදුල්ල                 බදුල්ල
..                 ...                ...                    ...
878             බදුල්ල             බදුල්ල                 බදුල්ල
879             බදුල්ල             බදුල්ල                 බදුල්ල
881             බදුල්ල             බදුල්ල                 බදුල්ල
882             බදුල්ල             බදුල්ල                 බදුල්ල
883             බදුල්ල             බදුල්ල                 බදුල්ල

    Grama Niladari Division   No Add.Line          ID  Gender Valid_ID  \
0                     හෑගොඩ    1        1  396630842V  Female     True
4                     හෑගොඩ    2      1/1  960260171V    Male     True
8                     හෑගොඩ    3      1/1  670374941V    Male     True
11                    හෑගොඩ    9   1/1 /A  927641356V  Female     True
14                    හෑගොඩ    6   1/1 /A  905250094V  Female     True
..                      ...  ...      ...         ...     ...      ...
878                   හෑගොඩ  870      178  487000132V  Female     True
879                   හෑගොඩ  871      178  792010415V    Male     True
881                   හෑගොඩ  873      179  467680412V  Female     True
882                   හෑගොඩ  874    179/1  712270764V    Male     True
883                   හෑගොඩ  875    179/1  725011466V  Female     True

       Birthday   Duplicate_ID  Birth_Year  Birth_Month  Birth_Day District  \
0    1939-06-11  193966308420V      1939.0          6.0       11.0  Badulla
4    1996-01-26  199602601710V      1996.0          1.0       26.0  Badulla
8    1967-02-06  196703749410V      1967.0          2.0        6.0  Badulla
11   1992-09-20  199276413560V      1992.0          9.0       20.0  Badulla
14   1990-01-25  199052500940V      1990.0          1.0       25.0  Badulla
..          ...            ...         ...          ...        ...      ...
878  1948-07-18  194870001320V      1948.0          7.0       18.0  Badulla
879  1979-07-19  197920104150V      1979.0          7.0       19.0  Badulla
881  1946-09-24  194676804120V      1946.0          9.0       24.0  Badulla
882  1971-08-14  197122707640V      1971.0          8.0       14.0  Badulla
883  1972-01-01  197250114660V      1972.0          1.0        1.0  Badulla

    Province Fam.Id                                  U-Id
0        Uva    F-4  64f27591-f384-40ad-886a-7261f14fee1f
4        Uva    F-5  4fd6a1ae-3dba-45cc-acfd-42f4d225ccaf
8        Uva    F-5  038f66b6-b108-4fcb-818e-04f948107768
11       Uva    F-6  bcc4a7f6-be4f-4d99-a7ce-5c5cd00c1155
14       Uva    F-6  050a8046-b75f-4aee-b839-e4056f1efa88
..       ...    ...                                   ...
878      Uva  F-138  0a0572b3-c539-45e0-a479-6adea8629842
879      Uva  F-138  9b02c63b-379f-4bb3-ab56-069788a93d3d
881      Uva  F-139  61e7cc58-6de6-48ef-8956-ff8154ba9692
882      Uva  F-140  a7f84413-b483-40ca-9090-efaa6877a5b3
883      Uva  F-140  80529f6a-0e79-41d9-9c04-dc79f00bbe1b

[820 rows x 20 columns]

In [ ]:
import pandas as pd

sinhala_to_english = {
    'ක': 'ka', 'ගා': 'gaa', 'ගැ': 'ge', 'ගෑ': 'ge', 'ගි': 'gi', 'ගී': 'gi', 'ගු': 'gu',
    'ගූ': 'gu', 'ගෘ': 'gru', 'ගෲ': 'gru', 'ගෙ': 'ge', 'ගේ': 'ge', 'ගෛ': 'gai', 'ගො': 'go', 'ගෝ': 'goo', 'ගෞ': 'gau',
    'ග්': 'g',
     'ග්': 'g', 'ග': 'ga', 'ගා': 'gaa', 'ගැ': 'ge', 'ගෑ': 'ge', 'ගි': 'gi', 'ගී': 'gi', 'ගු': 'gu',
    'ගූ': 'gu', 'ගෘ': 'gru', 'ගෲ': 'gru', 'ගෙ': 'ge', 'ගේ': 'ge', 'ගෛ': 'gai', 'ගො': 'go', 'ගෝ': 'goo', 'ගෞ': 'gau',

'ක්': 'k', 'ක': 'ka', 'කා': 'kaa', 'කැ': 'ke', 'කෑ': 'ke', 'කි': 'ki', 'කී': 'ki', 'කු': 'ku',
    'කූ': 'ku', 'කෘ': 'kru', 'කෲ': 'kru', 'කෙ': 'ke', 'කේ': 'ke', 'කෛ': 'kai', 'කො': 'ko', 'කෝ': 'koo', 'කෞ': 'kau',

'ට්': 't', 'ට': 'ta', 'ටා': 'taa', 'ටැ': 'te', 'ටෑ': 'te', 'ටි': 'ti', 'ටී': 'ti', 'ටු': 'tu',
    'ටූ': 'tu', 'ටෘ': 'tru', 'ටෲ': 'tru', 'ටෙ': 'te', 'ටේ': 'te', 'ටෛ': 'tai', 'ටො': 'to', 'ටෝ': 'too', 'ටෞ': 'tau',

'ඩ්': 'd', 'ඩ': 'da', 'ඩා': 'daa', 'ඩැ': 'de', 'ඩෑ': 'de', 'ඩි': 'di', 'ඩී': 'di', 'ඩු': 'du',
    'ඩූ': 'du', 'ඩෘ': 'dru', 'ඩෲ': 'dru', 'ඩෙ': 'de', 'ඩේ': 'de', 'ඩෛ': 'dai', 'ඩො': 'do', 'ඩෝ': 'doo', 'ඩෞ': 'dau',

'ත්': 'th', 'ත': 'tha', 'තා': 'thaa', 'තැ': 'the', 'තෑ': 'the', 'ති': 'thi', 'තී': 'thi', 'තු': 'thu',
    'තූ': 'thu', 'තෘ': 'thru', 'තෲ': 'thru', 'තෙ': 'the', 'තේ': 'the', 'තෛ': 'thai', 'තො': 'tho', 'තෝ': 'thoo', 'තෞ': 'thau',

'ද්': 'd', 'ද': 'da', 'දා': 'daa', 'දැ': 'de', 'දෑ': 'de', 'දි': 'di', 'දී': 'di', 'දු': 'du',
    'දූ': 'du', 'දෘ': 'dru', 'දෲ': 'dru', 'දෙ': 'de', 'දේ': 'de', 'දෛ': 'dai', 'දො': 'do', 'දෝ': 'doo', 'දෞ': 'dau',

'ප්': 'p', 'ප': 'pa', 'පා': 'paa', 'පැ': 'pe', 'පෑ': 'pe', 'පි': 'pi', 'පී': 'pi', 'පු': 'pu',
    'පූ': 'pu', 'පෘ': 'pru', 'පෲ': 'pru', 'පෙ': 'pe', 'පේ': 'pe', 'පෛ': 'pai', 'පො': 'po', 'පෝ': 'poo', 'පෞ': 'pau', 'ප්‍රේ':'Pre',

'බ්': 'b', 'බ': 'ba', 'බා': 'baa', 'බැ': 'be', 'බෑ': 'be', 'බි': 'bi', 'බී': 'bi', 'බු': 'bu',
    'බූ': 'bu', 'බෘ': 'bru', 'බෲ': 'bru', 'බෙ': 'be', 'බේ': 'be', 'බෛ': 'bai', 'බො': 'bo', 'බෝ': 'boo', 'බෞ': 'bau',

'ස්': 's', 'ස': 'sa', 'සා': 'saa', 'සැ': 'se', 'සෑ': 'se', 'සි': 'si', 'සී': 'si', 'සු': 'su',
    'සූ': 'su', 'සෘ': 'sru', 'සෲ': 'sru', 'සෙ': 'se', 'සේ': 'se', 'සෛ': 'sai', 'සො': 'so', 'සෝ': 'soo', 'සෞ': 'sau',

'හ්': 'h', 'හ': 'ha', 'හා': 'haa', 'හැ': 'he', 'හෑ': 'he', 'හි': 'hi', 'හී': 'hi', 'හු': 'hu',
    'හූ': 'hu', 'හෘ': 'hru', 'හෲ': 'hru', 'හෙ': 'he', 'හේ': 'he', 'හෛ': 'hai', 'හො': 'ho', 'හෝ': 'hoo', 'හෞ': 'hau',

'ච්': 'ch', 'ච': 'cha', 'චා': 'chaa', 'චැ': 'che', 'චෑ': 'che', 'චි': 'chi', 'චී': 'chi', 'චු': 'chu',
    'චූ': 'chu', 'චෘ': 'chru', 'චෲ': 'chru', 'චෙ': 'che', 'චේ': 'che', 'චෛ': 'chai', 'චො': 'cho', 'චෝ': 'choo', 'චෞ': 'chau',

'ජ්': 'j', 'ජ': 'ja', 'ජා': 'jaa', 'ජැ': 'je', 'ජෑ': 'je', 'ජි': 'ji', 'ජී': 'ji', 'ජු': 'ju',
    'ජූ': 'ju', 'ජෘ': 'jru', 'ජෲ': 'jru', 'ජෙ': 'je', 'ජේ': 'je', 'ජෛ': 'jai', 'ජො': 'jo', 'ජෝ': 'joo', 'ජෞ': 'jau',

'ම්': 'm', 'ම': 'ma', 'මා': 'maa', 'මැ': 'me', 'මෑ': 'me', 'මි': 'mi', 'මී': 'mi', 'මු': 'mu',
    'මූ': 'mu', 'මෘ': 'mru', 'මෲ': 'mru', 'මෙ': 'me', 'මේ': 'me', 'මෛ': 'mai', 'මො': 'mo', 'මෝ': 'moo', 'මෞ': 'mau',

'න්': 'n', 'න': 'na', 'නා': 'naa', 'නැ': 'ne', 'නෑ': 'ne', 'නි': 'ni', 'නී': 'ni', 'නු': 'nu',
    'නූ': 'nu', 'නෘ': 'nru', 'නෲ': 'nru', 'නෙ': 'ne', 'නේ': 'ne', 'නෛ': 'nai', 'නො': 'no', 'නෝ': 'noo', 'නෞ': 'nau',

'ල්': 'l', 'ල': 'la', 'ලා': 'laa', 'ලැ': 'le', 'ලෑ': 'le', 'ලි': 'li', 'ලී': 'li', 'ලු': 'lu',
    'ලූ': 'lu', 'ලෘ': 'lru', 'ලෲ': 'lru', 'ලෙ': 'le', 'ලේ': 'le', 'ලෛ': 'lai', 'ලො': 'lo', 'ලෝ': 'loo', 'ලෞ': 'lau',

'ර්': 'r', 'ර': 'ra', 'රා': 'raa', 'රැ': 're', 'රෑ': 're', 'රි': 'ri', 'රී': 'ri', 'රු': 'ru',
    'රූ': 'ru', 'රෘ': 'rru', 'රෲ': 'rru', 'රෙ': 're', 'රේ': 're', 'රෛ': 'rai', 'රො': 'ro', 'රෝ': 'roo', 'රෞ': 'rau',

'ව්': 'v', 'ව': 'va', 'වා': 'vaa', 'වැ': 've', 'වෑ': 've', 'වි': 'vi', 'වී': 'vi', 'වු': 'vu',
    'වූ': 'vu', 'වෘ': 'vru', 'වෲ': 'vru', 'වෙ': 've', 'වේ': 've', 'වෛ': 'vai', 'වො': 'vo', 'වෝ': 'voo', 'වෞ': 'vau',

'ය්': 'y', 'ය': 'ya', 'යා': 'yaa', 'යැ': 'ye', 'යෑ': 'ye', 'යි': 'yi', 'යී': 'yi', 'යු': 'yu',
    'යූ': 'yu', 'යෘ': 'yru', 'යෲ': 'yru', 'යෙ': 'ye', 'යේ': 'ye', 'යෛ': 'yai', 'යො': 'yo', 'යෝ': 'yoo', 'යෞ': 'yau',

'භ': 'bha', 'භා': 'bhaa', 'භැ': 'bhe', 'භෑ': 'bhe', 'භි': 'bhi', 'භී': 'bhi', 'භු': 'bhu', 'භූ': 'bhu', 'භෘ': 'bhru', 'භෲ': 'bhru',
    'භෙ': 'bhe', 'භේ': 'bhe', 'භෛ': 'bhai', 'භො': 'bho', 'භෝ': 'bhoo', 'භෞ': 'bhau',

'ෂ්':'sha', 'ෂ': 'sha', 'ෂා': 'shaa', 'ෂැ': 'she', 'ෂෑ': 'she', 'ෂි': 'shi', 'ෂී': 'shi', 'ෂු': 'shu', 'ෂූ': 'shu',
    'ෂෘ': 'shru', 'ෂෲ': 'shru', 'ෂෙ': 'she', 'ෂේ': 'she', 'ෂෛ': 'shai', 'ෂො': 'sho', 'ෂෝ': 'shoo', 'ෂෞ': 'shau',

'ශ්': 'sha', 'ශ': 'sha', 'ශා': 'shaa', 'ශැ': 'she', 'ශෑ': 'she', 'ශි': 'shi', 'ශී': 'shi', 'ශු': 'shu',
    'ශූ': 'shu', 'ශෘ': 'shru', 'ශෲ': 'shru', 'ශෙ': 'she', 'ශේ': 'she', 'ශෛ': 'shai', 'ශො': 'sho', 'ශෝ': 'shoo', 'ශෞ': 'shau', 'ශ්‍රි':'Shri',

'ධ්': 'dh', 'ධ': 'dha', 'ධා': 'dhaa', 'ධැ': 'dhe', 'ධෑ': 'dhe', 'ධි': 'dhi', 'ධී': 'dhi', 'ධු': 'dhu',
    'ධූ': 'dhu', 'ධෘ': 'dhru', 'ධෲ': 'dhru', 'ධෙ': 'dhe', 'ධේ': 'dhe', 'ධෛ': 'dhai', 'ධො': 'dho', 'ධෝ': 'dhoo', 'ධෞ': 'dhau',

     'ණ්': 'n', 'ණ': 'na', 'ණා': 'naa', 'ණැ': 'ne', 'ණෑ': 'ne', 'ණි': 'ni', 'ණී': 'ni', 'ණු': 'nu',
    'ණූ': 'nu', 'ණෘ': 'nru', 'ණෲ': 'nru', 'ණෙ': 'ne', 'ණේ': 'ne', 'ණෛ': 'nai', 'ණො': 'no', 'ණෝ': 'noo', 'ණෞ': 'nau',

        'ළ්': 'ḷ', 'ළ': 'ḷa', 'ළා': 'ḷaa', 'ළැ': 'ḷe', 'ළෑ': 'ḷe', 'ළි': 'ḷi', 'ළී': 'ḷi', 'ළු': 'ḷu',
    'ළූ': 'ḷu', 'ළෘ': 'ḷru', 'ළෲ': 'ḷru', 'ළෙ': 'ḷe', 'ළේ': 'ḷe', 'ළෛ': 'ḷai', 'ළො': 'ḷo', 'ළෝ': 'ḷoo', 'ළෞ': 'ḷau',

    'ධ්': 'dh', 'ධ': 'dha', 'ධා': 'dhaa', 'ධැ': 'dhe', 'ධෑ': 'dhe', 'ධි': 'dhi', 'ධී': 'dhi', 'ධු': 'dhu',
    'ධූ': 'dhu', 'ධෘ': 'dhru', 'ධෲ': 'dhru', 'ධෙ': 'dhe', 'ධේ': 'dhe', 'ධෛ': 'dhai', 'ධො': 'dho', 'ධෝ': 'dhoo', 'ධෞ': 'dhau',

        'ඹ්': 'bh', 'ඹ': 'bha', 'ඹා': 'bhaa', 'ඹැ': 'bhe', 'ඹෑ': 'bhe', 'ඹි': 'bhi', 'ඹී': 'bhi', 'ඹු': 'bhu',
    'ඹූ': 'bhu', 'ඹෘ': 'bhru', 'ඹෲ': 'bhru', 'ඹෙ': 'bhe', 'ඹේ': 'bhe', 'ඹෛ': 'bhai', 'ඹො': 'bho', 'ඹෝ': 'bhoo', 'ඹෞ': 'bhau',

  'ඝ්': 'g', 'ඝ': 'ga', 'ඝා': 'gaa', 'ඝැ': 'ge', 'ඝෑ': 'ge', 'ඝි': 'gi', 'ඝී': 'gi', 'ඝු': 'gu',
    'ඝූ': 'gu', 'ඝෘ': 'gru', 'ඝෲ': 'gru', 'ඝෙ': 'ge', 'ඝේ': 'ge', 'ඝෛ': 'gai', 'ඝො': 'go', 'ඝෝ': 'goo', 'ඝෞ': 'gau',

    'ඳ්': 'ḍ', 'ඳ': 'ḍa', 'ඳා': 'ḍaa', 'ඳැ': 'ḍe', 'ඳෑ': 'ḍe', 'ඳි': 'ḍi', 'ඳී': 'ḍi', 'ඳු': 'ḍu',
'ඳූ': 'ḍu', 'ඳෘ': 'ḍru', 'ඳෲ': 'ḍru', 'ඳෙ': 'ḍe', 'ඳේ': 'ḍe', 'ඳෛ': 'ḍai', 'ඳො': 'ḍo', 'ඳෝ': 'ḍoo', 'ඳෞ': 'ḍau',

    'ෆ්': 'f', 'ෆ': 'fa', 'ෆා': 'faa', 'ෆැ': 'fe', 'ෆෑ': 'fe', 'ෆි': 'fi', 'ෆී': 'fi', 'ෆු': 'fu',
'ෆූ': 'fu', 'ෆෘ': 'fru', 'ෆෲ': 'fru', 'ෆෙ': 'fe', 'ෆේ': 'fe', 'ෆෛ': 'fai', 'ෆො': 'fo', 'ෆෝ': 'foo', 'ෆෞ': 'fau',

    'ඣ' : 'dda','ඥ' : 'nna','ඤ' : 'nga','ඞ' : 'nja','ඡ' : 'cha','ඦ' : 'ja',


     'ට්‍රි': 'tri', 'ඩ්‍රි': 'dri', 'ත්‍රි': 'thri', 'ද්‍රි': 'dri', 'ප්‍රි': 'pri', 'බ්‍රි': 'bri', 'ස්‍රි': 'sri', 'ච්‍රි': 'chri', 'ජ්‍රි': 'jri', 'ම්‍රි': 'mri', 'න්‍රි': 'nri',

    'ඳ': 'ḍa', 'ඛ':'ka', 'ඝ':'ga', 'ණ': 'ṇa', 'ළ': 'ḷa', 'ඟ': 'ṅa', 'ඳ':'dha', 'ඬ': 'ḍa', 'ඳ': 'ḍa', 'ඹ': 'mba',
    'අ': 'a', 'ඇ': 'e', 'ඉ': 'i', 'උ': 'u', 'එ': 'e', 'ඔ': 'o', 'ආ': 'aa', 'ඈ': 'e', 'ඊ': 'i', 'ඌ': 'u',
    'ඒ': 'e', 'ඕ': 'o',
    'ැ': 'e', 'ෑ': 'uu', 'ි': 'i', 'ී': 'ii', 'ු': 'u', 'ූ': 'uu', 'ෙ': 'e', 'ො': 'o', 'ේ': 'ee', 'ෝ': 'oo',
    '්': '', 'ං': 'ṁ'


}


def transliterate_sinhala_to_english(sinhala_text):
    transliterated_text = ''
    i = 0
    while i < len(sinhala_text):
        found = False
        for size in range(3, 0, -1):
            substring = sinhala_text[i:i + size]
            if substring in sinhala_to_english:
                trans = sinhala_to_english[substring]
                transliterated_text += trans
                i += size
                found = True
                break
        if not found:
            transliterated_text += sinhala_to_english.get(sinhala_text[i], sinhala_text[i])
            i += 1
    return transliterated_text

df_valid['Text'] = df_valid['Text'].apply(transliterate_sinhala_to_english)
df_valid['Text'] = df_valid['Text'].str.title()

df_valid['Electoral District'] = df_valid['Electoral District'].apply(transliterate_sinhala_to_english)
df_valid['Electoral District'] = df_valid['Electoral District'].str.title()

df_valid['Electoral Division'] = df_valid['Electoral Division'].apply(transliterate_sinhala_to_english)
df_valid['Electoral Division'] = df_valid['Electoral Division'].str.title()

df_valid['Divisional Secretariat'] = df_valid['Divisional Secretariat'].apply(transliterate_sinhala_to_english)
df_valid['Divisional Secretariat'] = df_valid['Divisional Secretariat'].str.title()

df_valid['Grama Niladari Division'] = df_valid['Grama Niladari Division'].apply(transliterate_sinhala_to_english)
df_valid['Grama Niladari Division'] = df_valid['Grama Niladari Division'].str.title()

print(df_valid)

     Page Number                                               Text  \
0            1.0               Vijesiṁha Mudiyanselaage Lilaavathio
4            1.0  Dunukaara Mudiyanselaage Lakshitha Ruvan Jayas...
8            1.0               Dunukaara Mudiyanselaage Jayarathna&
11           1.0             Naṁgahavanna Mudiyanselaage Amaradaasa
14           1.0  Naṁgahavanthe Mudiyanselaage Hasinaṁ Daanaṁjanioy
..           ...                                                ...
878         19.0  Hetti Channaku Raajapaksha Mudiyanselaage Guṇa...
879         19.0                   Jayasekara Aarachchige Padmasiri
881         20.0                           Pussellage Aariyavathiqj
882         20.0                    Virasiṁha Mudiyanselaage Raṁjin
883         20.0  Bhechaanaayaka Mudiyanselaage Kusalaani Bhevaa...

    Electoral District Electoral Division Divisional Secretariat  \
0              Badulla            Badulla                Badulla
4              Badulla            Badulla                Badulla
8              Badulla            Badulla                Badulla
11             Badulla            Badulla                Badulla
14             Badulla            Badulla                Badulla
..                 ...                ...                    ...
878            Badulla            Badulla                Badulla
879            Badulla            Badulla                Badulla
881            Badulla            Badulla                Badulla
882            Badulla            Badulla                Badulla
883            Badulla            Badulla                Badulla

    Grama Niladari Division   No Add.Line          ID  Gender Valid_ID  \
0                    Hegoda    1        1  396630842V  Female     True
4                    Hegoda    2      1/1  960260171V    Male     True
8                    Hegoda    3      1/1  670374941V    Male     True
11                   Hegoda    9   1/1 /A  927641356V  Female     True
14                   Hegoda    6   1/1 /A  905250094V  Female     True
..                      ...  ...      ...         ...     ...      ...
878                  Hegoda  870      178  487000132V  Female     True
879                  Hegoda  871      178  792010415V    Male     True
881                  Hegoda  873      179  467680412V  Female     True
882                  Hegoda  874    179/1  712270764V    Male     True
883                  Hegoda  875    179/1  725011466V  Female     True

       Birthday   Duplicate_ID  Birth_Year  Birth_Month  Birth_Day District  \
0    1939-06-11  193966308420V      1939.0          6.0       11.0  Badulla
4    1996-01-26  199602601710V      1996.0          1.0       26.0  Badulla
8    1967-02-06  196703749410V      1967.0          2.0        6.0  Badulla
11   1992-09-20  199276413560V      1992.0          9.0       20.0  Badulla
14   1990-01-25  199052500940V      1990.0          1.0       25.0  Badulla
..          ...            ...         ...          ...        ...      ...
878  1948-07-18  194870001320V      1948.0          7.0       18.0  Badulla
879  1979-07-19  197920104150V      1979.0          7.0       19.0  Badulla
881  1946-09-24  194676804120V      1946.0          9.0       24.0  Badulla
882  1971-08-14  197122707640V      1971.0          8.0       14.0  Badulla
883  1972-01-01  197250114660V      1972.0          1.0        1.0  Badulla

    Province Fam.Id                                  U-Id
0        Uva    F-4  64f27591-f384-40ad-886a-7261f14fee1f
4        Uva    F-5  4fd6a1ae-3dba-45cc-acfd-42f4d225ccaf
8        Uva    F-5  038f66b6-b108-4fcb-818e-04f948107768
11       Uva    F-6  bcc4a7f6-be4f-4d99-a7ce-5c5cd00c1155
14       Uva    F-6  050a8046-b75f-4aee-b839-e4056f1efa88
..       ...    ...                                   ...
878      Uva  F-138  0a0572b3-c539-45e0-a479-6adea8629842
879      Uva  F-138  9b02c63b-379f-4bb3-ab56-069788a93d3d
881      Uva  F-139  61e7cc58-6de6-48ef-8956-ff8154ba9692
882      Uva  F-140  a7f84413-b483-40ca-9090-efaa6877a5b3
883      Uva  F-140  80529f6a-0e79-41d9-9c04-dc79f00bbe1b

[820 rows x 20 columns]

In [ ]:
columns_to_combine = ['Add.Line', 'Grama Niladari Division','Divisional Secretariat', 'Electoral Division']

df_valid['Full Address'] = df_valid[columns_to_combine].apply(lambda row: ', '.join(row.dropna().astype(str)), axis=1)

In [ ]:
df_valid.head()

,Page Number,Text,Electoral District,Electoral Division,Divisional Secretariat,Grama Niladari Division,No,Add.Line,ID,Gender,...,Birthday,Duplicate_ID,Birth_Year,Birth_Month,Birth_Day,District,Province,Fam.Id,U-Id,Full Address
0,1.0,Vijesiṁha Mudiyanselaage Lilaavathio,Badulla,Badulla,Badulla,Hegoda,1,1,396630842V,Female,...,1939-06-11,193966308420V,1939.0,6.0,11.0,Badulla,Uva,F-4,64f27591-f384-40ad-886a-7261f14fee1f,"1, Hegoda, Badulla, Badulla"
4,1.0,Dunukaara Mudiyanselaage Lakshitha Ruvan Jayas...,Badulla,Badulla,Badulla,Hegoda,2,1/1,960260171V,Male,...,1996-01-26,199602601710V,1996.0,1.0,26.0,Badulla,Uva,F-5,4fd6a1ae-3dba-45cc-acfd-42f4d225ccaf,"1/1, Hegoda, Badulla, Badulla"
8,1.0,Dunukaara Mudiyanselaage Jayarathna&,Badulla,Badulla,Badulla,Hegoda,3,1/1,670374941V,Male,...,1967-02-06,196703749410V,1967.0,2.0,6.0,Badulla,Uva,F-5,038f66b6-b108-4fcb-818e-04f948107768,"1/1, Hegoda, Badulla, Badulla"
11,1.0,Naṁgahavanna Mudiyanselaage Amaradaasa,Badulla,Badulla,Badulla,Hegoda,9,1/1 /A,927641356V,Female,...,1992-09-20,199276413560V,1992.0,9.0,20.0,Badulla,Uva,F-6,bcc4a7f6-be4f-4d99-a7ce-5c5cd00c1155,"1/1 /A, Hegoda, Badulla, Badulla"
14,1.0,Naṁgahavanthe Mudiyanselaage Hasinaṁ Daanaṁjanioy,Badulla,Badulla,Badulla,Hegoda,6,1/1 /A,905250094V,Female,...,1990-01-25,199052500940V,1990.0,1.0,25.0,Badulla,Uva,F-6,050a8046-b75f-4aee-b839-e4056f1efa88,"1/1 /A, Hegoda, Badulla, Badulla"

In [ ]:
# Province
column_name5 = 'Province'
unique_names = df_valid[column_name5].unique()
print(f"Province: {', '.join(unique_names)}")

# District
column_name = 'District'
unique_names = df_valid[column_name].unique()
print(f"District: {', '.join(unique_names)}")

#Electoral District
column_name2 = 'Electoral District'
unique_names = df_valid[column_name2].unique()
print(f"Electoral District: {', '.join(unique_names)}")

#Electoral Division
column_name3 = 'Electoral Division'
unique_names = df_valid[column_name3].unique()
print(f"Electoral Division: {', '.join(unique_names)}")


#Divisional Secretariat
column_name4 = 'Divisional Secretariat'
unique_names = df_valid[column_name4].unique()
print(f"Divisional Secretariat: {', '.join(unique_names)}")

#Polling Division
column_name4 = 'Grama Niladari Division'
unique_names = df_valid[column_name4].unique()
print(f"Grama Niladari Division: {', '.join(unique_names)}")


#Count
column_name5 = 'U-Id'
uuid_count = df_valid[column_name5].count()
print(f"\nNo of People: {uuid_count}")

# Gender
column_name6 = 'Gender'
male_count = (df_valid[column_name6] == 'Male').sum()
female_count = (df_valid[column_name6] == 'Female').sum()
unknown_count = df_valid[column_name6].isin(['Male', 'Female']).count() - male_count - female_count
print(f"Male: {male_count} ")
print(f"Female: {female_count} ")
print(f"Unknown: {unknown_count} ")
print("\n")

#Family
unique_count = df_valid['Fam.Id'].nunique()
print("No of Families: ", unique_count)
print("\n")

Province: Uva
District: Badulla
Electoral District: Badulla
Electoral Division: Badulla
Divisional Secretariat: Badulla
Grama Niladari Division: Hegoda

No of People: 820
Male: 381
Female: 421
Unknown: 18


No of Families:  277

In [ ]:
print(df_valid.columns)

Index(['Page Number', 'Text', 'Electoral District', 'Electoral Division',
       'Divisional Secretariat', 'Grama Niladari Division', 'No', 'Add.Line',
       'ID', 'Gender', 'Valid_ID', 'Birthday', 'Duplicate_ID', 'Birth_Year',
       'Birth_Month', 'Birth_Day', 'District', 'Province', 'Fam.Id', 'U-Id'],
      dtype='object')

In [ ]:
output_file_path = '/content/drive/MyDrive/1/output_file.xlsx'

filtered_df.to_excel(output_file_path, index=False)
print(f"Excel file saved at: {output_file_path}")

Excel file saved at: /content/drive/MyDrive/1/output_file.xlsx